{% load widget_tweaks %}
<div class="row">
<div class="col-sm-4 b-r">
  {% load static %}
  <img src="{% static 'img/pr.png' %}" width="20%" height="20%" / >
  <input type=hidden name='lastPurchaseRequestid' id='lastPurchaseRequestid' value='{{lId}}'/>




</div>
<div class="col-sm-8 b-r">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
      <label>{{form.PurchaseRequestAssetName.label}}</label>
      {{form.PurchaseRequestAssetName| add_class:"form-control" }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
      <label>{{form.PurchaseRequestAssetQty.label}}</label>
      {{form.PurchaseRequestAssetQty| add_class:"form-control" }}
      </div>

    </div>

  </div>



  <div class="form-group">
  <label>{{form.rfqCode.label}}</label>
  {{form.rfqCode| add_class:"form-control" }}
  </div>
</div>

</div>
