{% load widget_tweaks %}
<div class="row">
<div class="col-sm-4 b-r">
  {% load static %}
  <img src="{% static 'img/if_industry_50840.png' %}" / >
  <input type=hidden name='lastPartid' id='lastPartid' value='{{lId}}'/>




</div>
<div class="col-sm-8 b-r">

  <div class="form-group">
  <label>{{form.rfqName.label}}</label>
  {{form.rfqName| add_class:"form-control" }}
  </div>
  <div class="form-group">
  <label>{{form.rfqDescription.label}}</label>
  {{form.rfqDescription| add_class:"form-control" }}
  </div>
  <div class="form-group">
  <label>{{form.rfqCode.label}}</label>
  {{form.rfqCode| add_class:"form-control" }}
  </div>
</div>

</row>
<div class="row">
  <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">اطلاعات موجودی</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">BOM</a></li>

                            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">کاربران</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">گارانتی</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">کسب و کار</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false">اطلاعات خرید</a></li>

                            <li class=""><a data-toggle="tab" href="#tab-7" aria-expanded="false">پیوست ها</a></li>


                        </ul>
                        <div class="tab-content ">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">

                                  <div class="row">
                                  <div class="col-lg-12">
                                    <div class="panel panel-info">
                                      <div class="panel-heading">

                                      </div>
                                      <div class="panel-body">
                                        <div class="row">
                                          <div class="col-lg-12">
                                                {% include 'cmms/rfq_stock/rfqStockList.html' %}
                                          </div>

                                        </div>
                                        <div class="row">
                                          <div class="col-lg-6">




                                          </div>
                                          <div class="col-lg-6">
                                            <div class="row">
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-4">


                                              </div>
                                              <div class="col-sm-4">


                                              </div>
                                              <div class="col-sm-4">


                                              </div>



                                            </div>


                                          </div>

                                        </div>

                                      </div>


                                      </div>

                                    </div>


                                </div>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="panel panel-info">
                                      <div class="panel-heading">
                                      <i class="fa fa-info-circle"></i>   اطلاعات عمومی
                                      </div>
                                      <div class="panel-body">
                                        <div class="row">
                                          <div class="col-sm-6">
                                            <div class="form-group">
                                              <label>{{form.rfqAccount.label}}</label>
                                              {{form.rfqAccount| add_class:"form-control" }}


                                            </div>
                                            <div class="form-group">
                                              <label>{{form.rfqChargeDepartment.label}}</label>
                                              {{form.rfqChargeDepartment| add_class:"form-control" }}


                                            </div>

                                            <div class="form-group">
                                              <label>{{form.rfqMake.label}}</label>
                                              {{form.rfqMake| add_class:"form-control" }}


                                            </div>

                                          </div>
                                          <div class="col-sm-6">
                                            <div class="form-group">
                                              <label>{{form.rfqBarcode.label}}</label>
                                              {{form.rfqBarcode| add_class:"form-control" }}


                                            </div>
                                            <div class="form-group">
                                              <label>{{form.rfqModel.label}}</label>
                                              {{form.rfqModel| add_class:"form-control" }}


                                            </div>

                                            <div class="form-group">
                                              <label>{{form.rfqLastPrice.label}}</label>
                                              {{form.rfqLastPrice| add_class:"form-control" }}


                                            </div>
                                          </div>

                                        </div>
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <div class="form-group">
                                              <label>{{form.rfqNotes.label}}</label>
                                              {{form.rfqNotes| add_class:"form-control" }}


                                            </div>


                                          </div>

                                        </div>

                                      </div>

                                    </div>

                                  </div>

                                </div>






                                </div>
                                </div>

                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                  <div class='row'>
                                    <div class='col-lg-12'>
                                      <div class="panel panel-info">
                                           <div class="panel-heading">
                                               <i class="fa fa-info-circle"></i> قطعات
                                           </div>
                                           <div class="panel-body">
                                               <div class="row">
                                                 <div class="col-lg-12">
                                                                           {% include 'cmms/rfq_location/rfqLocationList.html' %}


                                                 </div>

                                               </div>
                                           </div>

                                      </div>




                                    </div>
                                  </div>

                                   </div>

                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">

                                    <div class='row'>
                                      <div class='col-lg-12'>
                                        <div class="panel panel-info">
                                             <div class="panel-heading">
                                                 <i class="fa fa-info-circle"></i> قرائت
                                             </div>
                                             <div class="panel-body">
                                                 <div class="row">
                                                   <div class="col-lg-12">
                                                     <div class="panel panel-info">

                                                       <div class="panel-body">

                                                         {% include 'cmms/rfq_user/rfqUserList.html' %}
                                                       </div>

                                                     </div>




                                                   </div>

                                                 </div>
                                             </div>


                                      </div>
                                    </div>



                                </div>
                            </div>
                          </div>


                          <div id="tab-4" class="tab-pane">
                              <div class="panel-body">

                                  <div class='row'>
                                    <div class='col-lg-12'>
                                      <div class="panel panel-info">
                                           <div class="panel-heading">
                                               <i class="fa fa-info-circle"></i> گارانتی
                                           </div>
                                           <div class="panel-body">
                                               <div class="row">
                                                 <div class="col-lg-12">

                                                   {% include 'cmms/rfq_waranty/rfqWarantyList.html' %}

                                                 </div>

                                               </div>
                                           </div>


                                    </div>
                                  </div>

                                   </div>


                          </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">

                                <div class='row'>
                                  <div class='col-lg-12'>
                                    <div class="panel panel-info">
                                         <div class="panel-heading">

                                         </div>
                                         <div class="panel-body">
                                             <div class="row">
                                               <div class="col-lg-12">

                                                 {% include 'cmms/rfq_business/rfqBusinessList.html' %}

                                               </div>

                                             </div>
                                         </div>


                                  </div>
                                </div>

                                 </div>


                        </div>
                      </div>
                      <div id="tab-6" class="tab-pane">
                          <div class="panel-body">

                              <div class='row'>
                                <div class='col-lg-12'>
                                  <div class="panel panel-info">
                                       <div class="panel-heading">

                                       </div>
                                       <div class="panel-body">
                                           <div class="row">
                                             <div class="col-lg-12">
                                                {% include 'cmms/rfq_purchase/rfqPurchaseList.html' %}


                                             </div>

                                           </div>
                                       </div>


                                </div>
                              </div>

                               </div>


                      </div>
                    </div>
                    <div id="tab-7" class="tab-pane">
                        <div class="panel-body">

                            <div class='row'>
                              <div class='col-lg-12'>
                                <div class="panel panel-info">
                                     <div class="panel-heading">

                                     </div>
                                     <div class="panel-body">
                                         <div class="row">
                                           <div class="col-lg-12">

                                                         {% include 'cmms/rfq_file/rfqFileList.html' %}

                                           </div>

                                         </div>
                                     </div>


                              </div>
                            </div>

                             </div>


                    </div>
                  </div>
                        <div id="tab-8" class="tab-pane">
                            <div class="panel-body">

                                <div class='row'>
                                  <div class='col-lg-12'>
                                    <div class="panel panel-info">
                                         <div class="panel-heading">
                                             <i class="fa fa-info-circle"></i>پیوستها
                                         </div>
                                         <div class="panel-body">
                                             <div class="row">
                                               <div class="col-lg-12">



                                               </div>

                                             </div>
                                         </div>


                                  </div>
                                </div>

                                 </div>


                        </div>
                      </div>

                </div>






                    </div>
                </div>
</div>
