{% for c in rfq %}

<tr>
<td></td>
<td>{{c.PurchaseRequestAssetName}}</td>
 <td>{{c.PurchaseRequestRequestedUser}}</td>
 <td>{{c.PurchaseRequestDateFrom}}</td>
<td>{{c.getQTY}}</td>
 <td>{{c.rfqModel}}</td>
 <td>{{c.rfqMake}}</td>






 <td><button type="button"
              class="btn btn-warning btn-sm js-update-rfq"
              data-url="{% url 'purchaseRequest_update' c.id %}">
        <span class="glyphicon glyphicon-pencil"></span> ویرایش
      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-rfq"
                   data-url="{% url 'purchaseRequest_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="8" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
