<!--pip install django-widget-tweaks-->
{% extends 'cmms/mainTheme.html' %}


 {% block content %}




<div class="row">
  <div class="col-sm-4" >
                           <div class="ibox ">
                               <div class="ibox-content">
                                   <div class="tab-content">
                                       <div id="contact-1" class="tab-pane active">
                                         <div class="widget style1 yellow-bg">
                                                     <div class="row">
                                                         <div class="col-xs-4">
                                                             <i class="fa fa-cube fa-5x"></i>
                                                         </div>
                                                         <div class="col-xs-8 text-right">
                                                           <span>    </span>
                                                             <h2  id="p_assetdetails"></h2>
                                                         </div>
                                                     </div>
                                                 </div>

                                           <div class="client-detail">
                                               <div class="full-height-scroll">
                                                   <strong>
                                                   </strong>
                                                   <table id="treeTable" class="table table-bordered">
     <tbody></tbody>
   </table>


                                               </div>
                                           </div>
                                       </div>

                                   </div>
                               </div>
                           </div>
                       </div>








<button type="button" name="button" id="addNodeBtn">click me</button>

</div>


{% load static %}

{% block javascript %}







<script type="text/javascript">
  $(document).ready(function() {
  var apiUrl = '/Asset/Location2/';

  $.ajax({
    url: apiUrl,
    method: 'GET',
    dataType: 'json',
    success: function(response) {
      var treeData = response; // Assuming the API response is an array of tree nodes

      // Call the recursive function to build the tree structure
      buildTree(treeData, $('#treeTable > tbody'));
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.error('Error fetching tree data:', errorThrown);
    }
  });

  function buildTree(data, parent) {
    data.forEach(function(node) {
      var row = $('<tr></tr>');
      var cell = $('<td></td>').text(node.text);

      // Add appropriate class for indentation based on the node's level
      cell.addClass('tree-level-' + node.level);

      row.append(cell);
      parent.append(row);

      // Check if the node has children
      if (node.children && node.children.length > 0) {
        row.addClass('expandable');
        row.click(function() {
          // Toggle the expanded state on click
          $(this).toggleClass('expanded');

          // Check if the row is expanded or collapsed
          if ($(this).hasClass('expanded')) {
            // Check if the children are already loaded
            if ($(this).hasClass('loaded')) {
              $(this).nextUntil(':not(.tree-level-' + (node.level + 1) + ')').show();
            } else {
              // Make an AJAX request to fetch the children data
              var childrenApiUrl = 'YOUR_CHILDREN_API_URL';

              $.ajax({
                url: childrenApiUrl,
                method: 'GET',
                dataType: 'json',
                success: function(children) {
                  // Build and append the children rows
                  buildTree(children, row);

                  // Add a class to mark that the children are loaded
                  row.addClass('loaded');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                  console.error('Error fetching children data:', errorThrown);
                }
              });
            }
          } else {
            // Collapse the row and hide the children rows
            row.nextUntil(':not(.tree-level-' + (node.level + 1) + ')').hide();
          }
        });
      }
    });
  }
});


</script>

{% endblock %}
{% endblock %}
