{% load widget_tweaks %}
<div class="row">

<div class="col-sm-4 b-r">
  {% load static %}
  <img src="{% static 'img/forklift.png' %}" / >
  <input type=hidden name='lastAssetid' id='lastAssetid' value='{{lId}}'/>
  <input type=hidden name='issavechanged' id='issavechanged' value='-1'/>
  <div class="col-md-offset-4" id="qrcode"></div>
  {{form.assetTypes.as_hidden}}
  <hr>

  <div class="form-group">
    <label>{{form.assetStatus.label}}</label>
    {% render_field form.assetStatus class='js-switch' style='margin:0 auto' data-url="/AssetLife/1/create/"  %}

  </div>

</div>
<div class="col-sm-8 b-r">
  <div class="form-group">
    {{ form.assetCategory.as_hidden }}

  </div>
  <div class="form-group">


  <label>{{form.assetCategory.label}}</label>

  {{form.asseccategorytxt| add_class:"form-control" }}
  </div>
  {{form.assetName| add_class:"form-control" }}
  <div class="form-group">
  <label>{{form.assetName.label}}</label>
  </div>
  <div class="form-group">
  <label>{{form.assetDescription.label}}</label>
  {{form.assetDescription| add_class:"form-control" }}
  </div>
  <div class="form-group">
  <label>{{form.assetCode.label}}</label>
  {{form.assetCode| add_class:"form-control" }}
  </div>
</div>

</div>
<div class="row">
  <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">عمومی</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">قطعات</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">قرائت</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-34" aria-expanded="false">رویداد</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">کاربران</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">گارانتی</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false">کسب و کار</a></li>
                            <li  class=""><a data-toggle="tab" href="#tab-7" aria-expanded="false">اطلاعات خرید</a></li>
                            <li  class=""><a data-toggle="tab" href="#tab-9" aria-expanded="false">درختواره</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-10" aria-expanded="false">تجهیزات</a></li>

                            <li class=""><a data-toggle="tab" href="#tab-8" aria-expanded="false">پیوست ها</a></li>
                                <li id='li_assetlife' class=""><a data-toggle="tab" href="#tab-assetlife" aria-expanded="false">سوابق</a></li>


                        </ul>
                        <div class="tab-content ">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">

                                  <div class="row">
                                  <div class="col-lg-12">
                                    <div class="panel panel-info">
                                      <div class="panel-heading">

                                      </div>
                                      <div class="panel-body">
                                        <div class="row">
                                          <div class="col-lg-6">
                                            <div class="form-group">
                                              <input type="radio" name="isPartOf" value="True"  >
                                            <label>{{form.assetIsPartOf.label}}</label>

                                              {% render_field form.assetIsPartOf class="form-control selectpicker" data-show-subtext="true" data-live-search="true"  %}
                                            </div>
                                            <div class="form-group">
                                              <input type="radio" name="isPartOf" value="False"  >
                                              <label>{{form.assetIsLocatedAt.label}}</label>
                                                  {% render_field form.assetIsLocatedAt class="form-control selectpicker" data-show-subtext="true" data-live-search="true"  %}
                                            </div>



                                          </div>
                                          <div class="col-lg-6">
                                            <div class="row">
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-4">
                                                <div class="form-group">
                                                  <input type="radio" name="isPartOf" value="False"  >
                                                  <label>{{form.assetAisel.label}}</label>
                                                  {{form.assetAisel| add_class:"form-control" }}
                                                </div>

                                              </div>
                                              <div class="col-sm-4">
                                                <div class="form-group">
                                                  <input type="radio" name="isPartOf" value="False"  >
                                                  <label>{{form.assetRow.label}}</label>
                                                  {{form.assetRow| add_class:"form-control" }}
                                                </div>

                                              </div>
                                              <div class="col-sm-4">
                                                <div class="form-group">
                                                  <input type="radio" name="isPartOf" value="False"  >
                                                  <label>{{form.assetBin.label}}</label>
                                                  {{form.assetBin| add_class:"form-control" }}
                                                </div>

                                              </div>



                                            </div>


                                          </div>

                                        </div>

                                      </div>


                                      </div>

                                    </div>


                                </div>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="panel panel-info">
                                      <div class="panel-heading">
                                      <i class="fa fa-info-circle"></i>   اطلاعات عمومی
                                      </div>
                                      <div class="panel-body">
                                        <div class="row">
                                          <div class="col-sm-6">
                                            <div class="form-group">
                                              <label>{{form.assetAccount.label}}</label>
                                              {{form.assetAccount| add_class:"form-control" }}


                                            </div>
                                            <div class="form-group">
                                              <label>{{form.assetChargeDepartment.label}}</label>
                                              {{form.assetChargeDepartment| add_class:"form-control" }}


                                            </div>
                                            <div class="form-group">
                                              <label>{{form.assetManufacture.label}}</label>
                                              {{form.assetManufacture| add_class:"form-control" }}


                                            </div>

                                          </div>
                                          <div class="col-sm-6">
                                            <div class="form-group">
                                              <label>{{form.assetBarcode.label}}</label>
                                              {{form.assetBarcode| add_class:"form-control" }}


                                            </div>
                                            <div class="form-group">
                                              <label>{{form.assetModel.label}}</label>
                                              {{form.assetModel| add_class:"form-control" }}


                                            </div>
                                            <div class="form-group">
                                              <label>{{form.assetSerialNumber.label}}</label>
                                              {{form.assetSerialNumber| add_class:"form-control" }}


                                            </div>
                                          </div>

                                        </div>
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <div class="form-group">
                                              <label>{{form.assetNotes.label}}</label>
                                              {{form.assetNotes| add_class:"form-control" }}


                                            </div>


                                          </div>

                                        </div>

                                      </div>

                                    </div>

                                  </div>

                                </div>






                                </div>
                                </div>

                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                  <div class='row'>
                                    <div class='col-lg-12'>
                                      <div class="panel panel-info">
                                           <div class="panel-heading">
                                               <i class="fa fa-info-circle"></i> قطعات
                                           </div>
                                           <div class="panel-body">
                                               <div class="row">
                                                 <div class="col-lg-12">

                                                    {% include 'cmms/asset_parts/assetPartList.html' %}

                                                 </div>

                                               </div>
                                           </div>

                                      </div>




                                    </div>
                                  </div>

                                   </div>

                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">

                                    <div class='row'>
                                      <div class='col-lg-12'>
                                        <div class="panel panel-info">
                                             <div class="panel-heading">
                                                 <i class="fa fa-info-circle"></i> قرائت
                                             </div>
                                             <div class="panel-body">
                                                 <div class="row">
                                                   <div class="col-lg-12">
                                                     <div class="panel panel-info">

                                                       <div class="panel-body">
                                                         {% include 'cmms/asset_meter/assetMeterList.html' %}

                                                       </div>

                                                     </div>




                                                   </div>

                                                 </div>
                                             </div>


                                      </div>
                                    </div>



                                </div>
                            </div>
                          </div>
                          <div id="tab-34" class="tab-pane">
                              <div class="panel-body">

                                  <div class='row'>
                                    <div class='col-lg-12'>
                                      <div class="panel panel-info">
                                           <div class="panel-heading">
                                               <i class="fa fa-info-circle"></i> رویداد
                                                                                    </div>
                                           <div class="panel-body">
                                               <div class="row">
                                                 <div class="col-lg-12">

                                                   <div class="panel panel-info">

                                                     <div class="panel-body">
                                                       {% include 'cmms/asset_event/assetEventList.html' %}

                                                     </div>

                                                   </div>



                                                 </div>

                                               </div>
                                           </div>


                                    </div>
                                  </div>



                              </div>
                          </div>
                        </div>
                          <div id="tab-4" class="tab-pane">
                              <div class="panel-body">

                                  <div class='row'>
                                    <div class='col-lg-12'>
                                      <div class="panel panel-info">
                                           <div class="panel-heading">
                                               <i class="fa fa-info-circle"></i>کاربران
                                           </div>
                                           <div class="panel-body">
                                               <div class="row">
                                                 <div class="col-lg-12">

                                                    {% include 'cmms/asset_user/assetUserList.html' %}

                                                 </div>

                                               </div>
                                           </div>


                                    </div>
                                  </div>

                                   </div>


                          </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">

                                <div class='row'>
                                  <div class='col-lg-12'>
                                    <div class="panel panel-info">
                                         <div class="panel-heading">

                                         </div>
                                         <div class="panel-body">
                                             <div class="row">
                                               <div class="col-lg-12">

                                                  {% include 'cmms/asset_waranty/assetWarantyList.html' %}

                                               </div>

                                             </div>
                                         </div>


                                  </div>
                                </div>

                                 </div>


                        </div>
                      </div>
                      <div id="tab-6" class="tab-pane">
                          <div class="panel-body">

                              <div class='row'>
                                <div class='col-lg-12'>
                                  <div class="panel panel-info">
                                       <div class="panel-heading">

                                       </div>
                                       <div class="panel-body">
                                           <div class="row">
                                             <div class="col-lg-12">

                                                {% include 'cmms/asset_business/assetBusinessList.html' %}

                                             </div>

                                           </div>
                                       </div>


                                </div>
                              </div>

                               </div>


                      </div>
                    </div>
                    <div id="tab-7" class="tab-pane">
                        <div class="panel-body">

                            <div class='row'>
                              <div class='col-lg-12'>
                                <div class="panel panel-info">
                                     <div class="panel-heading">

                                     </div>
                                     <div class="panel-body">
                                         <div class="row">
                                           <div class="col-lg-12">

                                              {% include 'cmms/asset_purchase/assetPurchaseList.html' %}

                                           </div>

                                         </div>
                                     </div>


                              </div>
                            </div>

                             </div>


                    </div>
                  </div>
                        <div id="tab-8" class="tab-pane">
                            <div class="panel-body">

                                <div class='row'>
                                  <div class='col-lg-12'>
                                    <div class="panel panel-info">
                                         <div class="panel-heading">
                                             <i class="fa fa-info-circle"></i>پیوستها
                                         </div>
                                         <div class="panel-body">
                                             <div class="row">
                                               <div class="col-lg-12">

                                                  {% include 'cmms/asset_file/assetFileList.html' %}

                                               </div>

                                             </div>
                                         </div>


                                  </div>
                                </div>

                                 </div>


                        </div>
                      </div>
                        <div id="tab-9" class="tab-pane">
                            <div class="panel-body">

                                <div class='row'>
                                  <div class='col-lg-12'>
                                    <div class="panel panel-info">
                                         <div class="panel-heading">
                                             <i class="fa fa-info-circle"></i>درختواره
                                         </div>
                                         <div class="panel-body">
                                             <div class="row">
                                               <div class="col-lg-12">

                                                 <div id="htmlmachineasset" class="demo">

                                                    </div>

                                               </div>

                                             </div>
                                         </div>


                                  </div>
                                </div>

                                 </div>


                        </div>
                      </div>
                      <div id="tab-10" class="tab-pane">
                          <div class="panel-body">

                              <div class='row'>
                                <div class='col-lg-12'>
                                  <div class="panel panel-info">
                                       <div class="panel-heading">
                                           <i class="fa fa-info-circle"></i>پیوستها
                                       </div>
                                       <div class="panel-body">
                                           <div class="row">
                                             <div class="col-lg-12">

                                                {% include 'cmms/asset_asset/assetAssetList.html' %}

                                             </div>

                                           </div>
                                       </div>


                                </div>
                              </div>

                               </div>


                      </div>
                    </div>
                      <div id="tab-assetlife" class="tab-pane">
                          <div class="panel-body">

                              <div class='row'>
                                <div class='col-lg-12'>
                                  <div class="panel panel-info">
                                       <div class="panel-heading">
                                           <i class="fa fa-info-circle"></i>سوابق                                      </div>
                                       <div class="panel-body">
                                           <div class="row">
                                             <div class="col-lg-12" style="position: relative;height: 300px;overflow: auto;display:block">


                                                {% include 'cmms/asset_wo/assetWoList.html' %}
                                                {% include 'cmms/asset_swo/assetWoList.html' %}
                                                {% include 'cmms/asset_close_wo/assetWoList.html' %}
                                                {% include 'cmms/asset_consumed_part/assetWoList.html' %}

                                                {% include 'cmms/asset_life/assetLifeList.html' %}

                                             </div>

                                           </div>
                                       </div>


                                </div>
                              </div>

                               </div>


                      </div>
                    </div>

                </div>






                    </div>
                </div>
</div>
<div class="row">
  <div class="modal fade" id="modal-assetcategory" style="overflow-y: scroll">
   <div class="modal-dialog ">

     <div class="modal-content ">









     </div>
   </div>
  </div>

</div>
