{% for c in asset %}

<tr date-url={{c.id}} date-type={{c.assetTypes}}>
 <td><input type="checkbox" name="action"  value={{c.id}} class="selection-box"></td>

 <td>{{c.get_name|default_if_none:0}}</td>
 <td>{{c.assetCode|default_if_none:"مشخص نشده"}}</td>
 <td>{% autoescape off %}{{c.get_assetStatus}}{% endautoescape %}</td>
 <td>{{c.assetCategory|default_if_none:'بدون دسته بندی'}}</td>
 <td>{{c.get_location|default_if_none:0|truncatechars:9}}</td>




 <td>
   {% if perms.cmms.view_asset %}
   <button type="button"
              class="btn btn-outline btn-warning  btn-sm js-update-asset"
              data-url="{% url 'asset_update' c.id %}?page={{page}}">
        <span class="glyphicon glyphicon-pencil"></span>مشاهده
      </button>
      {% endif %}
      {% if perms.cmms.delete_asset %}
      <button type="button"
                   class="btn btn-outline btn-danger btn-sm js-delete-asset"
                   data-url="{% url 'asset_delete' c.id %}?page={{page}}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
           {% endif %}
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="7" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
