<div class="col-sm-4 detail" style='display:none'>
                         <div class="ibox ">
                             <div class="ibox-content">
                                 <div class="tab-content">
                                     <div id="contact-1" class="tab-pane active">
                                       <div class="widget style1 yellow-bg">
                                                   <div class="row">
                                                       <div class="col-xs-4">
                                                           <i class="fa fa-cube fa-5x"></i>
                                                       </div>
                                                       <div class="col-xs-8 text-right">
                                                           <span>مشخصات دارایی </span>
                                                           <h2 class="font-bold" id="p_assetdetails">12</h2>
                                                       </div>
                                                   </div>
                                               </div>

                                         <div class="client-detail">
                                             <div class="full-height-scroll">
                                                 <strong>
                                                 آخرین فعالیت</strong>
                                                 <ul class="list-group clear-list">
                                                     <li class="list-group-item">
                                                         <span class="pull-left mtbf">
                                                         10:16 ق.ظ </span>
                                                  متوسط زمان کارکرد
                                                     </li>
                                                     <li class="list-group-item">
                                                         <span class="pull-left mttr" >
                                                         08:22 ب.ظ </span>
                                                         میانگین زمان تعمیر
                                                     </li>
                                                     <li class="list-group-item">
                                                         <span class="pull-left openwo">
                                                         11:06 ب.ظ </span>
                                                      تعداد دستور کار باز
                                                     </li>
                                                     <li class="list-group-item">
                                                         <span class="pull-left wait4part">
                                                         12:00 ق.ظ </span>
                                                         تعداد دستور کار منتظر قطعه
                                                     </li>
                                                     <li class="list-group-item">
                                                         <span class="pull-left overdue">
                                                         12:00 ق.ظ </span>
                                                         تعداد دستور کار تاریخ گذشته
                                                     </li>
                                                     <li class="list-group-item">
                                                         <span class="pull-left overdue">
                                                         12:00 ق.ظ </span>
                                                         تعداد دستور کار تاریخ گذشته
                                                     </li>
                                                     <li class="list-group-item">
                                                         <span class="pull-left lastbreak">
                                                         12:00 ق.ظ </span>
                                                         آخرین خرابی
                                                     </li>
                                                 </ul>
                                                 <hr>
                                                 <strong>
                                                 علل خرابی به درصد</strong>
                                              <div class="raw">
                                                <div class="col-lg-12">
                                                  <div id="assetOfflinePie-container">
                                                    <canvas id="assetOfflinePie"></canvas>
                                                  </div>
                                                  <div id="assetOfflineLine-container">
                                                    <canvas id="assetOfflineLine"></canvas>
                                                  </div>



                                                </div>


                                              </div>
                                                 <hr/>
                                                 <strong>
                                                 خرابی های اخیر</strong>
                                                 <div id="vertical-timeline" class="vertical-container dark-timeline">
                                                   </div>

                                             </div>
                                         </div>
                                     </div>

                                 </div>
                             </div>
                         </div>
                     </div>
