<form method="post" action="{% url 'wo_update' form.instance.id %}" class="js-wo-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close assetclose" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ویرایش</h4>
  </div>
  <div class="modal-body">
    {% include 'cmms/asset/partialAssetLocationForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default assetclose" data-dismiss="modal">بستن</button>
    {% if perms.cmms.change_assets %}
    <button type="submit" class="btn btn-primary" id="assetformupdatesubmit">ویرایش</button>
    {% endif %}
  </div>
</form>
