
{% if asset.has_other_pages %}
<ul class="pagination">
{% if asset.has_previous %}
<li><a href="#" data-url="{% url pageType  %}?page={{ asset.previous_page_number }}&q={{ q }}" class="asset_month_paginator4">
  &laquo;</a></li>
{% else %}
<li class="disabled"><span>&laquo;</span></li>
{% endif %}
  <li class="active"><span>{{ asset.number }} از {{ asset.paginator.num_pages }} <span class="sr-only">(current)</span></span></li>
{% if asset.has_next %}
<li><a href="#" data-url="{% url pageType  %}?page={{ asset.next_page_number }}&q={{ q }}" class="asset_month_paginator4">&raquo;</a></li>
{% else %}
<li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>
{% endif %}
<script type="text/javascript">

  $(".asset_month_paginator4").click(function()
  {

    $.ajax({
      url: $(this).attr("data-url"),
      type: "get",
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#tbody_company2").empty();
          $("#tbody_company2").html(data.modalcopyasset);
           $(".assetPaging").html(data.html_asset_paginator);

        }
        else {

          // $("#company-table tbody").html(data.html_asset_list);
          // $("#modal-company .modal-content").html(data.html_asset_form);
        }
      }
    });

  });


</script>
