
{% if asset.has_other_pages %}
<ul class="pagination">
{% if asset.has_previous %}
<li><a href="{% url pageType  %}?page={{ asset.previous_page_number }}&search={{ q }}&kvm={{kvm}}&main_asset={{main_asset}}" class="asset_month_paginator2">
  &laquo;</a></li>
{% else %}
<li class="disabled"><span>&laquo;</span></li>
{% endif %}
  <li class="active"><span>{{ asset.number }} از {{ asset.paginator.num_pages }} <span class="sr-only">(current)</span></span></li>
{% if asset.has_next %}
<li><a href="{% url pageType  %}?page={{ asset.next_page_number }}&search={{ q }}&kvm={{kvm}}&main_asset={{main_asset}}" class="asset_month_paginator2"">&raquo;</a></li>
{% else %}
<li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>
{% endif %}
