<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>درخواست ها</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                  <table class="table table-striped" id="projectWo-table">
                                    <thead>
                                    <tr>

                                      <th>کد</th>
                                      <th>شرح</th>
                                      <th>اولویت</th>
                                      <th>دارایی</th>
                                      <th>کاربر مشخص شده</th>
                                      <th>وضعیت</th>
                                      <th>نوع</th>
                                      <th>کاربر تکمیل کننده</th>
                                      <th>زمان تخمینی</th>
                                      <th>زمان واقعی</th>






                                    </tr>

                                    </thead>
                                    <tbody id='tbody_projectWo'>
                                            {% include 'cmms/projectwo/partialProjectWoList.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->

                            </div>
                          </div>

                    </div>
                </div>
                <div class="modal fade" id="modal-projectWo">
                 <div class="modal-dialog  modal-lg ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>

</div>


{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/sworkorder.js' %}"></script>
{% endblock %}
