<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>گروههای کاربری</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped" id="userGroup-table">
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th>نام گروه</th>



                                    </tr>

                                    </thead>
                                    <tbody id='tbody_userGroup'>
                                            {% include 'cmms/user_group/partialUserGroupList.html' %}

                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->


                            </div>
                          </div>

                    </div>
                </div>
                <!-- <div class="modal fade" id="modal-userGroup">
                 <div class="modal-dialog ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div> -->

</div>
