<!--pip install django-widget-tweaks-->
{% extends 'cmms/mainTheme3.html' %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>نوع نگهداری </h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
          </a>

          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">

        <div class="table-responsive">
          <table class="table" id="item-table">
            <thead>
              <tr>
                <th>نام قطعه</th>
                <th>تعداد</th>
                <th>مکان مصرف</th>
                <th>تامین کننده</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control item-name" placeholder="نام قطعه">
                  <div class="create-item-link" style="display: none;"><a href="#">قطعه جدید</a></div>
                </td>
                <td>
                  <input type="number" class="form-control item-quantity" placeholder="تعدا">
                </td>
                <td>
                  <input type="number" class="form-control item-location" placeholder="مکان">
                </td>

                <td>
                  <input type="text" class="form-control item-supplier" placeholder="تامین کننده">
                  <div class="create-supplier-link" style="display: none;"><a href="#">ایجاد تامین کننده</a></div>
                </td>
              </tr>
              <!-- Add more rows as needed -->
            </tbody>
          </table>
          <!-- BUTTON TO TRIGGER THE ACTION -->
          {% if perms.cmms.add_maintenancetype %}
          <p>
            <button type="button" class="btn btn-primary js-create-purchaserequest"
            data-url="{% url 'maintenanceType_create' %}"                                  >
            <span class="glyphicon glyphicon-save"



            ></span>
            ذخیره
          </button>
        </p>
        {% endif %}
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="modal-company">
  <div class="modal-dialog  modal-lg ">

    <div class="modal-content ">
    </div>
  </div>
</div>




</div>


{% load static %}

{% block javascript %}

<script src="{% static '/js/project/purchase.js' %}"></script>
{% endblock %}
{% endblock %}
