{% load widget_tweaks %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <i class="fa fa-info-circle"></i>  قرائت
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>{{form.assetMeterLocation.label}}</label>

              <span id='id_woMeterAssetjq'></span>
              <script type="text/javascript">
              $("#id_woMeterAssetjq").html($("#id_woAsset option:selected").text());

              </script>
            </div>
            <div class="form-group">
              <label>{{form.assetMeterMeterReading.label}}</label>

              {{form.assetMeterMeterReading| add_class:"form-control" }}
            </div>
            <div class="form-group">
              <label>{{form.assetMeterMeterReadingUnit.label}}</label>

              {{form.assetMeterMeterReadingUnit| add_class:"form-control" }}
            </div>


          </div>
        </div>

      </div>







    </div>
  </div>
</div>
