<div  data-url="{% url 'woMeter_create' %}" class="js-woMeter-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close cl-meter"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/wo_meter/partialWoMeterForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="cl-meter btn btn-default" >انصراف</button>
      {% if perms.cmms.add_workordermeterreading %}
    <button type="button" class="btn btn-primary" id="woMeter-submit"  >ذخیره</button>
    {% endif %}
 <script>
   $(".cl-meter").click(function()
   {
     $("#modal-woMeter").modal("hide");

   }
  );
  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {

        $("#woMeter-submit").click(function(){

                   //alert("12321");
                    var form = $(this).parent().parent();
                    //console.log(form.attr("action"));
                    //alert($("#id_metrics").val());
                    //console.log(form.attr('class'));
                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:myformat('{"woMeterReadingLocation":{0},"woMeterReadingMeterReading":{1},"woMeterReadingMeterReadingUnit":{2},"woMeterReadingworkorder":{3}}',$("#id_woAsset").val(),$("#id_assetMeterMeterReading").val(),$("#id_assetMeterMeterReadingUnit").val(),$("#lastWorkOrderid").val()),




                      dataType: 'json',
                      beforeSend: function () {
                        //alert(btn.attr("data-url"));
                        // console.log(myformat('{"woMeterReadingLocation":{0},"woMeterReadingMeterReading":{1},"woMeterReadingMeterReadingUnit":{2},"woMeterReadingworkorder":{3}}',$("#id_woAsset").val(),$("#id_assetMeterMeterReading").val(),$("#id_assetMeterMeterReadingUnit").val(),$("#lastWorkOrderid").val()));

                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_woMeter").empty();

                          $("#tbody_woMeter").html(data.html_woMeter_list);
                          $("#modal-woMeter").modal("hide");
                          // console.log(data.html_woMeter_list);
                        }
                        else {

                          $("#woMeter-table tbody").html(data.html_woMeter_list);
                          $("#modal-woMeter .modal-content").html(data.html_woMeter_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
