<div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>وضعیت ایستگاه ها </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                              {% for i in darayee %}
                                <li><a class="darayeeselector" href="#" date-url="{{i.id}}">{{i.assetName}}</a>
                                </li>
                              {% endfor %}
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div id="graph-container">
                                <canvas id="istgahBarChart" height="100px"></canvas>
                            </div>
                    </div>
                </div>
