
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <span class="label label-warning pull-left">
                                        اطلاعات تغییر کرده</span>
                                        <h5>
                                        دستور کار خودکار</h5>
                                    </div>
                                    <div class="ibox-content ">
                                      <div class="row">
                                        <div class="col-lg-4">
                                          <div class="ibox float-e-margins">

                                            <div class="ibox-content" style='border:none'>
                                              <h2 style='text-align:center;' id='pmWoComh4'>
                                                0</h2>

                                              <small style='text-align: center;display: inherit'>
                                                  تکمیل شده</small>

                                                </div>

                                              </div>
                                            </div>
                                            <div class="col-lg-4">
                                              <div class="ibox float-e-margins">

                                                <div class="ibox-content" style='border:none'>
                                                  <h2 style='text-align:center;' id='pmWoComOnTimedh4'>
                                                    0</h2>
                                                      <small style='text-align: center;display: inherit'>
                                                      به موقع</small>

                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-lg-4">
                                                  <div class="ibox float-e-margins">

                                                    <div class="ibox-content" style='border:none'>
                                                      <h3 class="noinfoforchart" >اطلاعاتی یافت نشد</h3>
                                                      <canvas id="doughnutChartpm" style="width: 78px; height: 78px;"></canvas>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                    </div>

                                </div>
