
<div class="ibox float-e-margins">
  <div class="ibox-title">
    
      <h5>
        دستور کار دوره ای</h5>
      </div>
      <div class="ibox-content ">
        <div class="row">
          <div class="col-lg-4">

            <div class="widget  p-lg text-center">
              <div class="">
                <i class="fa fa-shield fa-4x"></i>
                <h1 class="m-xs" id='pmWoComh4'>0</h1>
                <h3 class="font-bold no-margins">
                  تکمیل شده
                </h3>
                <!-- <small>ماه</small> -->
              </div>
            </div>
          </div>
          <div class="col-lg-4">

            <div class="widget  p-lg text-center">
              <div class="">
                <i class="fa fa-thumbs-up fa-4x"></i>
                <h1 class="m-xs" id='pmWoComOnTimedh4'>0</h1>
                <h3 class="font-bold no-margins">
                  به موقع
                </h3>
                <!-- <small>ماه</small> -->
              </div>
            </div>
          </div>
          <div class="col-lg-4">

            <div class="widget  p-lg text-center">
              <div class="">

                <h3 class="noinfoforchart" >اطلاعاتی یافت نشد</h3>
                <h1 class="m-xs" id='pmWoComOnTimedh4'></h1>
                <canvas id="doughnutChartpm" style="width: 78px; height: 78px;"></canvas>

                <!-- <small>ماه</small> -->
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
