


                                        <div class="col-lg-3 middle-box text-center ">
                                          <div class="ibox float-e-margins">
                                            <div class="ibox-title" >
                                                <h5>حضور {{m.userGroupName}}</h5><span class="label label-primary">ساعت</span>

                                            </div>

                                            <div class="ibox-content" style='border:none;'>
                                              <h3 style='text-align:center;' class='pmWoComh{{m.id}}'>
                                                820</h3>








                                                  <!-- <h3 class="noinfoforchart" >اطلاعاتی یافت نشد</h3> -->
                                                  <div id="dchartcontainer{{m.id}}">


                                                    <canvas class="doughnutChartResourceStatus{{m.id}}" style="width: 78px; height: 78px;"></canvas>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-lg-3 middle-box text-center">
                                              <div class="ibox float-e-margins">
                                                <div class="ibox-title" >
                                                    <h5>کارکرد {{m.userGroupName}}</h5><span class="label label-primary">ساعت</span>

                                                </div>

                                                <div class="ibox-content" style='border:none;'>
                                                  <h3 style='text-align:center;' class='pmWoComOnTimedh{{m.id}}'>
                                                   367</h3>




                                                    <div id="pgidcontainer{{m.id}}">


                                                      <canvas class="pieChartResourceStatus{{m.id}}" style="width: 78px; height: 78px;"></canvas>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
