<div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-exclamation-circle fa-2x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>دستور کارهای معوقه</span>
                            <h2 class="font-bold" id="overdueWoReqNumRep">53</h2>
                        </div>
                    </div>
                </div>
