
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <span class="label label-warning pull-left">
                                        اطلاعات تغییر کرده</span>
                                        <h5>
                                      درخواست های تکمیل شده-تجهیزات</h5>
                                    </div>
                                    <div class="ibox-content ">
                                      <div class="row">

                                                <div class="col-lg-12">
                                                  <div class="ibox float-e-margins">

                                                    <div class="ibox-content" style="border:none">
                                                        <h3 class="noinfoforchart" >اطلاعاتی یافت نشد</h3>
                                                      <canvas id="woCompletedDoughnutChart"></canvas>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                    </div>

                                </div>
