<!-- code snippet for pending workorder -->


<div class="widget style1 btn-primary">
                    <div class="row">
                        <div class="col-xs-12 text-center" id="closeWoReqNumRep">
                            <span>درخواست تایید نشده</span>
                            <h2 class="font-bold">  0


                              </h2>
</div>
                    </div>
                </div>
    <script>
    // $(function(){
    //   var GetCloseWoReqNum= function () {
    //
    //      $.ajax({
    //        url: 'Summery/GetCloseWoReqNum/',
    //        type:'get',
    //        dataType: 'json',
    //        success: function (data) {
    //
    //            //alert("Company created!");  // <-- This is just a placeholder for now for testing
    //            //$("#tbody_company").empty();
    //            $("#closeWoReqNumRep").html(data.html_closeworeqnumrep_list);
    //            //$("#modal-company").modal("hide");
    //            //console.log(data.html_order_list);
    //          //console.log(data);
    //
    //        }
    //      });
    //      return false;
    //    };
    //
    //
    // GetCloseWoReqNum();
    // });
    </script>
