
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <span class="label label-warning pull-left">
                                        اطلاعات تغییر کرده</span>
                                        <h5>
                                        کلیه سفارشات</h5>
                                    </div>
                                    <div class="ibox-content ">
                                      <div class="row">
                                        <div class="col-lg-4">
                                          <div class="ibox float-e-margins">

                                            <div class="ibox-content" style="border:none">
                                              <h1 style="text-align:center" id="totalWoComh4">0</h1>

                                                <small style='text-align: center;display: inherit'>
                                                  میانگین هزینه برای هر درخواست</small>

                                                </div>

                                              </div>
                                            </div>
                                            <div class="col-lg-4">
                                              <div class="ibox float-e-margins">

                                                <div class="ibox-content" style="border:none">
                                                  <h1 style="text-align:center" id="totalWoComOnTimedh4">0</h1>

                                                    <small style='text-align: center;display: inherit'>
                                                      میانگین روز برای تکمیل</small>

                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-lg-4">
                                                  <div class="ibox float-e-margins">

                                                    <div class="ibox-content" style="border:none">
                                                      <h3 class="noinfoforchart" >اطلاعاتی یافت نشد</h3>
                                                      <canvas id="doughnutChartTotal" style="width: 174px; height: 86px;" height="107" width="217"></canvas>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                    </div>

                                </div>
