
{% for c in taskGroupAssetCategorys %}

<tr>


<td>{{c.assetCategory}}</td>

 <td>{% autoescape off %}{{c.get_TaskGroupAssetCategoryTik}}{% endautoescape %}</td>






 <td><button type="button"
              class="btn btn-warning btn-sm js-update-taskGroupAssetCategory"
              data-url="{% url 'taskGroupAssetCategory_update' c.id %}">
        <span class="glyphicon glyphicon-pencil"></span> ویرایش
      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-taskGroupAssetCategory"
                   data-url="{% url 'taskGroupAssetCategory_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="3" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>
{% endfor %}
