
cmms/migrations/__pycache__/0025_auto_20190316_2044.cpython-37.pyc
tmp/Debug.log
tmp/Debug.log
tmp/Debug.log
media/
celerybeat-schedule.dat
*.pyc
media/documents/ghamsar_IP Camera4_ghamsar_20220905072250_544160.jpg
media/documents/ghamsar_IP Camera4_ghamsar_20220905072250_544160_95RfuSO.jpg
media/documents/ghamsar_IP Camera4_ghamsar_20220905072250_544160_oTPfu5l.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_7PKpH7O.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_BuoOlI8.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_CDY8nty.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_f8kjAUC.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_oSPRy9Y.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_pgQF4O6.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_sDXLRwZ.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_sLDTeWU.jpg
media/documents/ghamsar_IP Camera6_ghamsar_20220905072243_469939_tOWH92d.jpg
media/documents/صورتحساب اینترنت از فروردین 1401.pdf
media/documents/فیش حقوقی تیرماه.xls
media/documents/نمونه 2 MTBF شاخص (Autosaved).xlsx
media/documents/tir_Dqz5OPJ.xlsx
media/documents/tir.xlsx
media/documents/KPI روند شاخص های کلیدی عملکرد تجهیزات (Autosaved).xlsx
