<!--pip install django-widget-tweaks-->
{% extends 'cmms/mainTheme.html' %}

 {% block content %}


 <body class="gray-bg">
 		<div class="middle-box text-center animated fadeInDown">
 			<h1>
 			404</h1>
 			<h3 class="font-bold">
 			صفحه مورد نظر یافت نشد</h3>
 			<div class="error-desc">
 				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
 				<form class="form-inline m-t" role="form">
 					<div class="form-group">
 						<input type="text" class="form-control" placeholder="جستجو صفحات">
 					</div>
 					<button type="submit" class="btn btn-primary">
 					جستجو</button>
 				</form>
 			</div>
 		</div>

 	</body>
{% endblock %}
