{% block menu %}

{% load static %}

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">

        <div class="dropdown profile-element">
          <span>
            <img alt="image" width="64px" height="64px" class="img-circle" src="{{ MEDIA_URL }}{{request.session.userpic}}" />
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">

                  {% if request.user.is_authenticated %}

                  {{request.session.username}}
                  {% endif %}</strong>
                </span>
                <span class="text-muted text-xs block">{{request.session.usertitle}}
                  <b class="caret">
                  </b>
                </span>
              </span>
            </a>
            <ul class="dropdown-menu animated fadeInLeft m-t-xs">


              <li class="divider">
              </li>
              <li>
                <a href="{% url 'logout' %}">
                  خروج</a>
                </li>
              </ul>
            </div>
            <div class="logo-element">
              <img src="{% static 'img/logo_icon.png' %}" alt=""/>
            </div>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-th-large">
              </i>
              <span class="nav-label">
                داشبورد ها</span>
                <span class="fa arrow">
                </span>
              </a>
              <ul  {% if section in 'dashboard,x' %} class="nav nav-second-level collapse in"
              {% else %}
              class="nav nav-second-level collapse"
              {% endif %} >

                <li {% if section == 'dashboard' %} class='active'   {% endif %}>

                  <a href="{% url 'list_dashboard' %}"   >داشبورد</a>
                </li>

                <li {% if section == 'asset_dash' %} class='active'   {% endif %}>


                  <a href="{% url 'list_asset_dash' %}" ><i class="fa fa-calendar-o"></i>وضعیت دستگاهها</a>
                </li>
                <li {% if section == 'list_calendar' %} class='active'   {% endif %}>
                  <a href="{% url 'list_calendar' %}">
                    <i class="fa fa-calendar"></i>
                    تقویم
                  </a>
                </li>


                <!-- <a href="{% url 'list_calendar' %}" >تقویم</a>
              </li>
              <li>
              <a href="#" >دارایی اختصاص داده شده</a>
            </li>
            <li>
            <a href="#" >سفارش کار اختصاص داده شده</a>
          </li>
          <li>
          <a href="#" >درخواست های خرید من</a>
        </li> -->

      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cogs">
        </i>
        <span class="nav-label">
          تعمیر و نگهداری</span>
          <span class="fa arrow">
          </span>
        </a>
        <ul  {% if section in 'list_miniWorkorder,list_wo,formset_view,list_swo,list_maintenanceType,list_taskGroup,list_project' %} class="nav nav-second-level collapse in"
        {% else %}
        class="nav nav-second-level collapse"
        {% endif %} >

          <li {% if section == 'list_miniWorkorder' %} class='active'   {% endif %}>

            <a href="{% url 'list_miniWorkorder' %}" >صدور درخواست</a>
          </li>
          <li {% if section == 'list_wo' %} class='active'   {% endif %}>

            <a href="{% url 'list_wo' %}" >دستور کار موردی</a>
          </li>
          <li {% if section == 'formset_view' %} class='active'   {% endif %}>

            <a href="{% url 'formset_view' %}" >ورود انبوه دستور کار</a>
          </li>
          <li {% if section == 'list_swo' %} class='active'   {% endif %}>


            <a href="{% url 'list_swo' %}" >  <i class="fa fa-clock-o">
            </i>
            دستور کار دوره ای</a>

          </li>
          <li {% if section == 'list_taskGroup' %} class='active'   {% endif %}>
            <a href="{% url 'list_taskGroup' %}" >فعالیت های  دسته ای</a>
          </li>
          <li {% if section == 'list_project' %} class='active'   {% endif %}>
            <a href="{% url 'list_project' %}" >پروژه ها</a>
          </li>
          <li {% if section == 'list_maintenanceType' %} class='active'   {% endif %}>
            <a href="{% url 'list_maintenanceType' %}" >تنظیمات نوع سرویس ها</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-comments">
          </i>
          <span class="nav-label">
            اعلانات</span>
            <span class="fa arrow">
            </span>
          </a>
          <ul  {% if section in 'list_mail,list_wo,list_sentmail,list_sysmail' %} class="nav nav-second-level collapse in"
          {% else %}
          class="nav nav-second-level collapse"
          {% endif %} >
            <li {% if section == 'list_mail' %} class='active'   {% endif %}>

              <a href="{% url 'list_mail'  %}" >صندوق دریافت</a>
            </li>
            <li {% if section == 'list_sentmail' %} class='active'   {% endif %}>

              <a href="{% url 'list_sentmail'  %}" >صندوق ارسال</a>
            </li>

            <li {% if section == 'list_sysmail' %} class='active'   {% endif %}>
              <a href="#" >پیامهای سیستم</a>
            </li>

          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-list-alt">
            </i>
            <span class="nav-label">
              دارایی ها</span>
              <span class="fa arrow">
              </span>
            </a>
            <ul  {% if section in 'list_asset,list_asset_location,list_asset_machine,list_asset_tool,list_assetCategory,list_assetMeterTemplate,list_batchMeterGroup' %} class="nav nav-second-level collapse in"
            {% else %}
            class="nav nav-second-level collapse"
            {% endif %} >
              <li {% if section == 'list_asset' %} class='active'   {% endif %}>

                <a href="{% url 'list_asset' %}" >کل دارایی</a>
              </li>
              <li {% if section == 'list_asset_location' %} class='active'   {% endif %}>

                <a href="{% url 'list_asset_location' %}" >اماکن</a>
              </li>

              <li {% if section == 'list_asset_machine' %} class='active'   {% endif %}>
                <a href="{% url 'list_asset_machine' %}" >تجهیزات</a>
              </li>
              <li {% if section == 'list_asset_tool' %} class='active'   {% endif %}>
                <a href="{% url 'list_asset_tool' %}" >ابزارارآلات</a>
              </li>
              <li {% if section == 'list_miniWorkorder' %} class='active'   {% endif %}>
                <a href="#"><i class="fa fa-list-alt">
                </i>
                تنظیمات <span class="fa arrow">
                </span>
              </a>
              <ul  {% if section in 'list_assetCategory,list_assetMeterTemplate,list_batchMeterGroup' %} class="nav nav-third-level collapse in"
              {% else %}
              class="nav nav-third-level collapse"
              {% endif %} >

                <li  {% if section == 'list_assetCategory' %} class='active'   {% endif %}>
                  <a href="{% url 'list_assetCategory' %}" >دسته بندی اموال</a>
                </li>
                <li  {% if section == 'list_assetMeterTemplate' %} class='active'   {% endif %}>
                  <a href="{% url 'list_assetMeterTemplate' %}" >تعریف کمیت</a>
                </li>
                <li  {% if section == 'list_batchMeterGroup' %} class='active'   {% endif %}>
                  <a href="{% url 'list_batchMeterGroup' %}" >انتساب کمیت</a>
                </li>


              </ul>

            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-wrench">
            </i>
            <span class="nav-label">
              پشتیبانی</span>
              <span class="fa arrow">
              </span>
            </a>
            <ul  {% if section in 'list_part,list_Stock,list_business,list_bomgroup,list_event,list_partCategory' %} class="nav nav-second-level collapse in"
            {% else %}
            class="nav nav-second-level collapse"
            {% endif %} >
              <li  {% if section == 'list_part' %} class='active'   {% endif %}>
                <a href="{% url 'list_part'%}" >قطعه</a>
              </li>

              <li  {% if section == 'list_Stock' %} class='active'   {% endif %}>
                <a href="{% url 'list_stock'%}" >موجودی انبار</a>
              </li>
              <li  {% if section == 'list_Stock' %} class='active'   {% endif %}>
                <a href="{% url 'list_purchaseRequest'%}" >درخواست خرید</a>
              </li>
              <li {% if section == 'list_business' %} class='active'   {% endif %}>
                <a href="{% url 'list_business'%}" >کسب وکار</a>
              </li>
              <li {% if section == 'list_bomgroup' %} class='active'   {% endif %}>
                <a href="{% url 'list_bomgroup'%}" >لیست BOM گروهی</a>
              </li>
              <li {% if section == 'list_event' %} class='active'   {% endif %}>
                <a href="{% url 'list_event'%}" >رویداد</a>
              </li>
              <li {% if section == 'list_miniWorkorder' %} class='active'   {% endif %}>
                <a href="#"><i class="fa fa-list-alt">
                </i>
                تنظیمات <span class="fa arrow">
                </span>
              </a>
              <ul  {% if section in 'list_partCategory' %} class="nav nav-third-level collapse in"
              {% else %}
              class="nav nav-third-level collapse"
              {% endif %} >

                <li  {% if section == 'list_partCategory' %} class='active'   {% endif %}>
                  <a href="{% url 'list_partCategory' %}" >دسته بندی قطعات</a>
                </li>


              </ul>

            </li>
            </ul>
          </li>
          {% if request.user.username == "admin" %}
          <li>
            <a href="#">
              <i class="fa fa-users">
              </i>
              <span class="nav-label">
                مدیریت کاربران</span>
                <span class="fa arrow">
                </span>
              </a>
              <ul  {% if section in 'list_user,list_attendance' %} class="nav nav-second-level collapse in"
              {% else %}
              class="nav nav-second-level collapse"
              {% endif %} >
                <li {% if section == 'list_user' %} class='active'   {% endif %}>
                  <a href="{% url 'list_user'%}" >کاربران</a>
                </li>
                <li {% if section == 'list_attendance' %} class='active'   {% endif %}>
                  <a href="{% url 'list_attendance'%}" >حضور و غیاب </a>
                </li>


              </ul>
            </li>
            {% endif %}
            <li>
              <a href="#">
                <i class="fa fa-file">
                </i>
                <span class="nav-label">
                  گزارشات</span>
                  <span class="fa arrow">
                  </span>
                </a>
                <ul  {% if section in 'list_report' %} class="nav nav-second-level collapse in"
                {% else %}
                class="nav nav-second-level collapse"
                {% endif %} >
                  <li {% if section == 'list_report' %} class='active'   {% endif %}>
                    <a href="{% url 'list_report'%}" >گزارش گیری</a>
                  </li>


                </ul>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-file">
                  </i>
                  <span class="nav-label">
                    تنظیمات</span>
                    <span class="fa arrow">
                    </span>
                  </a>
                  <ul class="nav nav-second-level collapse">
                    <li {% if section == 'asset_dash' %} class='active'   {% endif %}>
                      <a href="{% url 'list_settings'%}" >تنظیمات 1</a>
                    </li>


                  </ul>
                </li>

              </ul>
            </div>
          </nav>
          <!-- <script type="text/javascript">
            if(localStorage.getItem('lastclicked')!=null && window.location.pathname+window.location.search.length!=1)
            {
              // $(".navbar-default.nav li").eq(2).css("color", "yellow");
              a1=parseInt(localStorage.getItem('lastclicked'));

              $(".nav li:nth-child("+(a1+1)+")").attr("class","active");

            }

            $('.nav li').click(function() {
              var index = $(this).index();
              if (typeof(Storage) !== "undefined") {
                // Code for localStorage/sessionStorage.
                localStorage.setItem("lastclicked", index);
              } else {
                console.log("Sorry! No Web Storage support..");
              }
            });

          </script> -->
          {% endblock %}
