{% block search %}
 {% load staticfiles %}
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                <i class="fa fa-bars">
                </i>
            </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <!-- <input type="text" placeholder="جستجو" class="form-control" name="top-search" id="top-search"> -->
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <span class="m-r-sm text-muted welcome-message">
                اکسپرتر سرو رایان</span>
            </li>
            <li class="dropdown" id='statusMail'>

           </li>

            {% if user.is_authenticated %}
            <li>
                <a href={% url 'logout' %}>
                    <i class="fa fa-sign-out">
                    </i>
                    خروج
                </a>
            </li>
            {% else %}
            <li>
                <a href={% url 'login' %}>
                    <i class="fa fa-sign-in">
                    </i>
                    ورود
                </a>
            </li>
            {% endif %}

            <li>
                <a class="left-sidebar-toggle">
                    <i class="fa fa-tasks">
                    </i>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}
