
{% for c in dashAssets %}

<tr>

<td>{{c.settingEqAsset}}</td>
<td>{{c.settingLocation}}</td>







 <td><button type="button"
              class="btn btn-warning btn-sm js-update-dashAsset"
              data-url="{% url 'dashAsset_update' c.id %}">

      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-dashAsset"
                   data-url="{% url 'dashAsset_delete' c.id %}">

           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="3" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>
{% endfor %}
