{% extends 'cmms/mainTheme.html' %}

{% block content %}

<div class="row">
  {% include "cmms/summery/dateselector.html" %}
</div>
<div class="clear">

</div>
<div class="row border-bottom  dashboard-header">

  <div class="col-lg-12">
   {% include "cmms/summery/tolid_test.html" %}

  </div>

</div>
<div class="clear">

</div>







{% load static %}

{% block javascript %}
<script type="text/javascript">
var ggid={{ggid}};

xxxDate1=new persianDate();



dt1=xxxDate1.pDate.year.toString()+"-"+("0" + xxxDate1.pDate.month).slice(-2)+"-01";
//$("#dashboardt1").val(dt1);


</script>
<script src="{% static '/js/project/dashboard/datepicker.js' %}"></script>

<script type="text/javascript">

LoadCauseBar();
LoadIstgahStatusBar();

</script>

{% endblock %}
{% endblock %}
