<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
    <i class="fa fa-envelope">
    </i>
      {% if count > 0 %}
    <span class="label label-warning">

    {{ mails|length }}</span>
    {% endif %}
</a>




                               <ul class="dropdown-menu dropdown-messages">
                                 {% for c in mails %}
                                   <li>
                                       <div class="dropdown-messages-box">
                                           <a href="{{c.link}}" class="pull-right" data-url="">
                                               <li><i class="fa fa-envelope-o"></i></li>
                                           </a>
                                           <div class="media-body ">
                                               <small class="pull-left text-navy">
                                                 <strong>
                                                 {{c.user}}</strong></small>
                                                <a href="{{c.link}}?notif={{c.id}}" target="_blank">
                                               <strong>{{c.message}}</strong>
                                                 </a>
                                               . <br>
                                               <small class="text-muted">
                                               {{c.time_ago}}</small>
                                           </div>
                                       </div>
                                   </li>
                                   {% endfor %}

                                   <li class="divider">
                                   </li>
                                   

                                   
                               </ul>
