{% for c in mails %}
{% if c.messageStatus == 2 %}
<tr class='read'>
{% else %}
<tr class='unread'>
{% endif %}
<td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
<td>{{c.fromUser}}</td>
 <td>{{c.subject}}</td>
 <td>{{c.getdate}}</td>
 <td></td>







 <td><button type="button"
              class="btn btn-warning btn-sm js-update-mail"
              data-url="{% url 'mail_update' c.id %}">
        <span class="glyphicons glyphicons-pencil"></span> مشاهده
      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-mail"
                   data-url="{% url 'mail_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="5" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
<script type="text/javascript">
  $(document).ready(function(){
    $(".js-update-mail").click(function(){

      $(this).parent().parent().attr("class","read");


    });




  });
</script>
