<form method="post" action="{% url 'mail_update' form.instance.id %}" class="js-mail-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ویرایش</h4>
  </div>
  <div class="modal-body">
    {% include 'cmms/mail/partialMailEditForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
    <button type="submit" class="btn btn-primary">ویرایش</button>
  </div>
</form>
<!-- SUMMERNOTE -->
{% load staticfiles %}
    <script src="{% static 'js/plugins/summernote/summernote.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });


            $(document).ready(function() {
   $('#id_Message').summernote();
 });

        });


    </script>
