<div  data-url="{% url 'offlineStatus_create' %}" class="js-offlineStatus-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/settingpages/offline_status/partialOfflineStatusForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" >انصراف</button>
    <button type="button" class="btn btn-primary" id="offlineStatus-submit"  >ذخیره</button>
 <script>
  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {

        $("#offlineStatus-submit").click(function(){

                   //alert("12321");
                   //$( "#myselect option:selected" ).text();
                   var mydata="";
                   mydata=myformat('{"Code":"{0}"\
                   ,"description":"{1}","name":"{2}"}',
                   $("#id_Code").val(),
                   $("#id_description").val(),
                   $("#id_name").val(),


                 );

                    var form = $(this).parent().parent();

                    //alert($("#id_metrics").val());

                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:mydata,
                      dataType: 'json',
                      beforeSend: function () {
                        //alert(btn.attr("data-url"));


                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_offlineStatus").empty();

                          $("#tbody_offlineStatus").html(data.html_offlineStatus_list);
                          $("#modal-offlineStatus").modal("hide");

                        }
                        else {

                          $("#offlineStatus-table tbody").html(data.html_offlineStatus_list);
                          $("#modal-offlineStatus .modal-content").html(data.html_offlineStatus_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
