{% load widget_tweaks %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <i class="fa fa-info-circle"></i>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>نام گروه</label>

              <input type=text id='id_bomassetjq2' class="form-control" readonly/>
              <script type="text/javascript">
              $("#id_bomassetjq2").val($("#id_BatchMeterGroupName").val());
              </script>
            </div>
            <div class="form-group">
              <label>{{form.BMGAsset.label}}</label>
              {{ form.BMGAsset.as_hidden }}

              <!-- <input type="text"  id="mypart" value="" class="form-control advanced2AutoComplete" value='{{form.bmgAssetPid.value}}' /> -->
              {% render_field form.my_asset class='form-control advanced2AutoComplete'  %}

            </div>




          </div>
        </div>

      </div>







    </div>
  </div>
</div>
