<div  data-url="{% url 'businessAsset_create' %}" class="js-businessAsset-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close cl-task"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/business_asset/partialBusinessAssetForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="cl-task btn btn-default" >انصراف</button>
    <button type="button" class="btn btn-primary" id="businessAsset-submit"  >ذخیره</button>
 <script>
  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {
        $(".cl-task").click(function()
        {
          $("#modal-businessAsset").modal("hide");
          //$("#{modal-company}").css("background-color", "yellow");


        }
       );

        $("#businessAsset-submit").click(function(){

                   //alert("12321");
                   //$( "#myselect option:selected" ).text();
                   var mydata="";
                   mydata=myformat('{"BusinessAssetAsset":{0}\
                   ,"businessAssetBusiness":{1}\
                   ,"businessAssetBusinessType":{2}\
                   ,"businessAssetSupplierPartNumber":"{3}"\
                 ,"businessAssetCatalog":"{4}"\
               ,"businessAssetisDefault":"{5}" }',
                   $("#id_BusinessAssetAsset").val(),
                   $("#lastBusinessid").val(),
                   $("#id_businessAssetBusinessType").val(),
                   $("#id_businessAssetSupplierPartNumber").val(),
                   $("#id_businessAssetCatalog").val(),

                   $("#id_businessAssetisDefault").is(':checked')
                 );

                    var form = $(this).parent().parent();
                    //console.log(form.attr("action"));
                    //alert($("#id_metrics").val());
                    // console.log($(this));
                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:mydata,
                      dataType: 'json',
                      beforeSend: function () {
                        //alert(btn.attr("data-url"));
                        // console.log(mydata);

                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_businessAsset").empty();

                          $("#tbody_businessAsset").html(data.html_businessAsset_list);
                          $("#modal-businessAsset").modal("hide");
                          // console.log(data.html_businessAsset_list);
                        }
                        else {

                          $("#businessAsset-table tbody").html(data.html_businessAsset_list);
                          $("#modal-businessAsset .modal-content").html(data.html_businessAsset_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
