{% load widget_tweaks %}
<div class="row">
<div class="col-sm-12 b-r">
  <div class="form-group">
    <label>{{form.name.label}}</label>
    {% render_field form.name  class='form-control' %}

  </div>
  <div class="form-group">
    <label>{{form.datecreated.label}}</label>
    {% render_field form.datecreated  class='form-control' %}

  </div>
  <div class="form-group">
    <label>{{form.attendanceTime.label}}</label>
    {% render_field form.attendanceTime  class='form-control' %}

  </div>
  <div class="form-group">
    <label>{{form.Ezafekar.label}}</label>
    {% render_field form.Ezafekar  class='form-control' %}

  </div>








</div>


</div>
