{% load static %}
{% for c in assetCadFile %}

<tr>
<td></td>
<td> {{c.assetCadFileAssetId}}</td>
<td><img src="{% get_media_prefix %}{{c.assetCadFile}}" width='64px' height='64px'/> </td>







 <td>
   
      {% if perms.cmms.delete_assetcadfile %}
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-assetCadFile"
                   data-url="{% url 'assetCadFile_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
           {% endif %}
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="5" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
