<!--pip install django-widget-tweaks-->
{% extends 'cmms/mainTheme.html' %}

 {% block content %}

<div class="row" >
  <div class="col-lg-12 "  style="position: relative;" id="pcol">


    <canvas id="canvas" style="width: 100%;height: auto;"></canvas>
        <button id="flag-btn" style="display: none;">🚩</button>


                </div>



                <div class="modal fade" id="modal-company">
                 <div class="modal-dialog  modal-lg ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>
</div>






{% load static %}

{% block javascript %}

  <script src="{% static '/js/project/assetcad.js' %}"></script>


{% endblock %}
{% endblock %}
