<div  data-url="{% url 'woProblem_update' form.instance.id %}" class="js-woProblem-update-form">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ویرایش</h4>
  </div>
  <div class="modal-body">
    {% include 'cmms/settingpages/wo_problem_code/partialWoProblemForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
    <button type="button" class="btn btn-primary" id="woProblem-submit">ویرایش</button>


    <script>
     myformat = function() {
     var s = arguments[0];
     for (var i = 0; i < arguments.length - 1; i++) {
       var reg = new RegExp("\\{" + i + "\\}", "gm");
       s = s.replace(reg, arguments[i + 1]);
     }

     return s;
   }
       $( document).ready(
         function()
         {

           $("#woProblem-submit").click(function(){

                      //alert("12321");
                      //$( "#myselect option:selected" ).text();
                      var mydata="";
                      var mydata="";
                      mydata=myformat('{"problemCode":"{0}"\
                      ,"problemDescription":"{1}"}',
                      $("#id_problemCode").val(),
                      $("#id_problemDescription").val(),

                    );

                      var form = $(this).parent().parent();


                       $.ajax({
                         url: form.attr("data-url"),
                         type: "POST",
                         data:mydata,
                         dataType: 'json',
                         beforeSend: function () {


                         },
                         success: function (data) {
                           if (data.form_is_valid) {
                             //alert("Company created!");  // <-- This is just a placeholder for now for testing
                             $("#tbody_woProblem").empty();

                             $("#tbody_woProblem").html(data.html_woProblem_list);
                             $("#modal-woProblem").modal("hide");

                           }
                           else {

                             $("#woProblem-table tbody").html(data.html_woProblem_list);
                             $("#modal-woProblem .modal-content").html(data.html_woProblem_form);
                           }
                         }

                       });
                       return false;



                  });
         }


       );

       </script>

  </div>
</div>
