<div  data-url="{% url 'partStock_create' %}" class="js-partStock-create-form" >

  <div class="modal-header" style="background:#ccc">
    <button type="button" class="close cl-task"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/part_stock/partialPartStockForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="cl-task btn btn-default" >انصراف</button>
    <button type="button" class="btn btn-primary" id="partStock-submit"  >ذخیره</button>
 <script>
  myformat = function() {

  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {
        $(".cl-task").click(function()
        {
          $("#modal-partStock").modal("hide");
          //$("#{modal-company}").css("background-color", "yellow");


        }
       );
        $("#partStock-submit").click(function(){

                   //alert("12321");
                    var form = $(this).parent().parent();
                    //console.log(form.attr("action"));
                    //alert($("#id_metrics").val());

                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:myformat('{"stockItem":{0},\
                      "location":{1},\
                      "qtyOnHand":{2},\
                      "minQty":{3},\
                      "aisle":{4},\
                      "row":{5},\
                      "bin":{6},"test":1}',
                      $("#lastPartid").val(),
                      $("#id_location").val(),

                      $("#id_qtyOnHand").val(),
                      $("#id_minQty").val(),
                      $("#id_aisle").val(),
                      $("#id_row").val(),
                      $("#id_bin").val()



                    ),




                      dataType: 'json',
                      beforeSend: function () {
                        //alert(btn.attr("data-url"));
                        console.log(myformat('{"stockItem":{0},\
                        "location":{1},\
                        "qtyOnHand":{2},\
                        "minQty":{3},\
                        "aisle":{4},\
                        "row":{5},\
                        "bin":{6}}',
                        $("#lastPartid").val(),
                        $("#id_location").val(),

                        $("#id_qtyOnHand").val(),
                        $("#id_minQty").val(),
                        $("#id_aisle").val(),
                        $("#id_row").val(),
                        $("#id_bin").val()



                      ));

                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_partStock").empty();

                          $("#tbody_partStock").html(data.html_partStock_list);
                          $("#modal-partStock").modal("hide");
                          toastr.success('انبار با موفقیت بروز گردید');

                        }
                        else {

                          $("#partStock-table tbody").html(data.html_partStock_list);
                          $("#modal-partStock .modal-content").html(data.html_partStock_form);
                          toastr.error('خطا در بروزرسانی انبار');
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
