<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>پیوست ها</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped" id="assetFile-table">
                                    <thead>
                                    <tr>
                                      <th></th>

                                           <th>نام</th>
                                            <th>نوع فایل </th>

                                              <th>اندازه</th>

                                        <th></th>

                                    </tr>

                                    </thead>
                                    <tbody id='tbody_assetFile'>
                                            {% include 'cmms/asset_file/partialAssetFileList.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->
                                <p>
                                  <button type="button" class="btn btn-primary js-upload-assetFiles">
                                    <span class="glyphicon glyphicon-cloud-upload"></span> بارگذاری عکس
                                  </button>
                                  <input id="assetFileupload" type="file" name="assetFile" multiple
                                    style="display: none;"
                                    data-url="{% url 'asset_upload' lId %}"
                                    data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                                  </button>
                                </p>
                            </div>
                          </div>

                    </div>
                </div>
                <div class="modal fade" id="modal-assetFile">
                 <div class="modal-dialog ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>

</div>


{% load static %}

{% block javascript %}

  <script src="{% static '/js/project/assetFile.js' %}"></script>
{% endblock %}
