{% load humanize %}
<tr>
  <td colspan="8" style="background-color:#ebc9c9"> <b>قطعات با موجودی کم</b></td>
</tr>
{% for c in rfq %}

<tr>
<td></td>
<td>{{c.stockItem}}</td>
 <td>{{c.stockItem.partCode}}</td>
 <td>{{c.get_fav_suplier}}</td>
<td><input type="text" name="" value="{{c.getmin}}"></td>
 <td><input type="text" name="" value="{{c.getlastprice|intcomma}}">$</td>
 <td>{{c.getTotalPrice|intcomma }}</td>






 <td><button type="button"
              class="btn btn-warning btn-sm js-update-rfq"
              data-url="">
        <span class="glyphicon glyphicon-pencil"></span> ویرایش
      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-rfq"
                   data-url="">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="8" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
