
{% for c in equipCosts %}

<tr>

<td>{{c.settingEqAsset}}</td>








 <td><button type="button"
              class="btn btn-warning btn-sm js-update-equipCost"
              data-url="{% url 'equipCost_update' c.id %}">

      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-equipCost"
                   data-url="{% url 'equipCost_delete' c.id %}">

           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="2" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>
{% endfor %}
