<div  data-url="{% url 'partFile_create' %}" class="js-partFile-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/part_file/partialPartFileForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" >انصراف</button>
    <button type="button" class="btn btn-primary" id="partFile-submit"  >ذخیره</button>


  </div>
</div>
