<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>تکنسین</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped" id="projectUser-table">
                                    <thead>
                                    <tr>
                                      <th>نام تکنسین</th>


                                        <th></th>

                                    </tr>

                                    </thead>
                                    <tbody id='tbody_projectUser'>
                                            {% include 'cmms/project_user/partialProjectUserList.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->
                                <p>
                                  <button type="button" class="btn btn-primary js-create-projectUser"
                                  data-url="{% url 'projectUser_create' %}"                                  >
                                    <span class="glyphicon glyphicon-plus"



                                    ></span>
                                  جدید
                                  </button>
                                </p>
                            </div>
                          </div>

                    </div>
                    <div class="modal fade" id="modal-projectUser">
                     <div class="modal-dialog modal-sm">

                       <div class="modal-content ">
                       </div>
                     </div>
                    </div>
                </div>


</div>


{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/projectUser.js' %}"></script>
{% endblock %}
