{% load widget_tweaks %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <i class="fa fa-info-circle"></i>  قطعه مصرفی
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>{{form.bomGroupPartPart.label}}</label>

              <input type=text id='id_assetpartjq' class="form-control" readonly/>
              <script type="text/javascript">
              $("#id_assetpartjq").val($("#id_BOMGroupName").val());
              </script>
            </div>
            <div class="form-group">
              <label>{{form.BOMGroupPartPart.label}}</label>


              {% render_field form.mypart class='form-control advanced2AutoComplete'  %}
              {{form.BOMGroupPartPart.as_hidden}}
            </div>
            <div class="form-group">
              <label>{{form.BOMGroupPartQnty.label}}</label>


              {% render_field form.BOMGroupPartQnty class='form-control'  %}

            </div>




          </div>
        </div>

      </div>







    </div>
  </div>
</div>
