
{% for c in bomGroupParts %}

<tr>
 <td><input type="checkbox" name="actoin" value=""></td>
<td>{{c.BOMGroupPartPart}}</td>
 <td>{{c.BOMGroupPartQnty}}</td>







 <td><button type="button"
              class="btn btn-warning btn-outline btn-sm js-update-bomGroupPart"
              data-url="{% url 'bomGroupPart_update' c.id %}">
        <span class="glyphicon glyphicon-pencil"></span> ویرایش
      </button>
      <button type="button"
                   class="btn btn-danger btn-outline btn-sm js-delete-bomGroupPart"
                   data-url="{% url 'bomGroupPart_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="4" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/bomGroupPart.js' %}"></script>
{% endblock %}
