{% load widget_tweaks %}
  {% load static %}
<div class="row">
  <div class="col-lg-7">
             <div class="ibox float-e-margins">
                
                 <div class="ibox-content">
                     <p>
                         نمونه یادگیرا
                     </p>
                     <div id="wizard">
                         <h1>مرحله اول</h1>
                         <div class="step-content">
                             <div class="text-center m-t-md">
                             <h2>سلام مرحله 1</h2>
                             <p>
                                 لورم ایپسوم
                             </p>
                             </div>
                         </div>

                         <h1>مرحله دوم</h1>
                         <div class="step-content">
                             <div class="text-center m-t-md">
                                 <h2>مرحله 2</h2>
                                 <p>
                                     لورم ایپسوم
                                 </p>
                             </div>
                         </div>

                         <h1>مرحله سوم</h1>
                         <div class="step-content">
                             <div class="text-center m-t-md">
                                 <h2>مرحله 3</h2>
                                 <p>
                                     لورم ایپسوم
                                 </p>
                             </div>
                         </div>
                     </div>

                 </div>
                 </div>
                 </div>

    </div>
    <script type="text/javascript">
      $("#wizard").steps();

    </script>

        <!-- Mainly scripts -->


        <!-- Custom and plugin javascript -->


        <!-- Steps -->
