{% load widget_tweaks %}
<div class="row">
  <div class="col-xl-12">
                      <div class="card">
                          <div class="card-header bg-primary ">
                              <h4 class="card-title text-white">تب عمودی پررنگ سمت راست</h4>
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-xl-3 col-xxl-4 col-sm-4">
                                      <div class="nav flex-column nav-pills mb-3">
                                          <a href="#v-pills-home" data-toggle="pill" class="nav-link active show bg-light">طراحی</a>
                                          <a href="#v-pills-profile" data-toggle="pill" class="nav-link bg-light">برنامه نویسی</a>
                                          <a href="#v-pills-messages" data-toggle="pill" class="nav-link bg-light">پیام ها</a>
                                          <a href="#v-pills-settings" data-toggle="pill" class="nav-link bg-light">تنظیمات</a>
                                          <a href="#v-pills-tasks" data-toggle="pill" class="nav-link bg-light">فعالیت ها</a>
                                          <a href="#v-pills-parts" data-toggle="pill" class="nav-link bg-light">قطعات</a>

                                          <a href="#v-pills-miscs" data-toggle="pill" class="nav-link bg-light">سایر هزینه ها</a>
                                          <a href="#v-pills-notifs" data-toggle="pill" class="nav-link bg-light">اعلان ها</a>
                                          <a href="#v-pills-meters" data-toggle="pill" class="nav-link bg-light">اندازه</a>
                                            <a href="#v-pills-perts" data-toggle="pill" class="nav-link bg-light">پرت زمانی</a>
                                          <a href="#v-pills-files" data-toggle="pill" class="nav-link bg-light">فایل ها</a>
                                          <a href="#v-pills-logs" data-toggle="pill" class="nav-link bg-light">لاگها</a>
                                      </div>
                                  </div>
                                  <div class="col-xl-9 col-xxl-8 col-sm-8">
                                      <div class="tab-content">
                                          <div id="v-pills-home" class="tab-pane fade active show">
                                            <div class="row">

                                              <div class="col-sm-6 b-r">
                                                {% load static %}

                                                <input type=hidden name='lastWorkOrderid' id='lastWorkOrderid' value='{{lId}}'/>
                                                <input type=hidden name='issavechanged' id='issavechanged' value='-1'/>

                                                <input type=hidden name='haveschedule' id='haveschedule' value='-1'/>
                                                <input type=hidden name='havetasks' id='havetasks' value='-1'/>
                                                {{ form.visibile.as_hidden }}
                                                {{ form.isScheduling.as_hidden }}
                                                {{ form.isPartOf.as_hidden }}
                                                {{ form.isPm.as_hidden }}
                                                {{ form.RequestedUser.as_hidden }}

                                                {{ form.isUpdating.as_hidden }}


                                                <div class="form-group">
                                                  <label>{{form.woStatus.label}}</label>
                                                  {{form.woStatus| add_class:"form-control border-primary" }}


                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.maintenanceType.label}}</label>
                                                  {{form.maintenanceType| add_class:"form-control border-primary" }}
                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.woPriority.label}}</label>
                                                  {{form.woPriority| add_class:"form-control border-primary" }}
                                                </div>
                                              </div>
                                              <div class="col-sm-6 b-r">
                                                <div class="form-group">




                                                  <label>{{form.woAsset.label}}</label>
                                                  {{ form.woAsset.as_hidden }}

                                                  {% render_field form.woasset_ class="form-control border-primary advanced2AutoComplete4" %}
                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.Project.label}}</label>
                                                  {% render_field form.Project class="form-control border-primary selectpicker" data-show-subtext="true" data-live-search="true"  %}
                                                </div>


                                                </div>


                                              </div>

                                          </div>
                                          <div id="v-pills-profile" class="tab-pane fade">
                                            <div class="row">
                                              <div class="col-lg-12">
                                                <div class="form-group">
                                                  <label>{{form.summaryofIssue.label}}</label>


                                                  {% render_field form.summaryofIssue class="form-control border-primary basicAutoComplete  form-control border-primary-shadow-md" autocomplete="off" data-url='/WorkOrder/GetProblems' %}
                                                </div>

                                              </div >
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-12">
                                                <div class="form-group">
                                                  <label>{{form.woProblemCode.label}}</label>


                                                  {% render_field form.woProblemCode class="form-control border-primary   selectpicker" data-show-subtext="true" data-live-search="true"   %}
                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.workInstructions.label}}</label>
                                                  {{form.workInstructions| add_class:"form-control border-primary" }}
                                                </div>
                                              </div>


                                            </div>
                                          </div>
                                          <div id="v-pills-messages" class="tab-pane fade">
                                            <div class="row">
                                              <div class="col-lg-12">
                                                <div class="row">
                                                  <div class="col-lg-12">
                                                    <div class="form-group">
                                                      <label>{{form.datecreated.label}}</label>

                                                      <div class="input-group date">
                                                                            {{form.datecreated| add_class:"form-control border-primary" }}
                                                                            <span class="input-group-addon">
                                                                                <i class="fa fa-calendar">
                                                                                </i>
                                                                            </span>
                                                                        </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-lg-12">
                                                    <div class="form-group">
                                                      <label>{{form.timecreated.label}}</label>
                                                      {% render_field form.timecreated class="form-control border-primary ltr-input"  data-mask="99:99:99"  %}
                                                    </div>

                                                  </div>

                                                </div>

                                                <div class="form-group">
                                                  <label>{{form.assignedToUser.label}}</label>

                                                  {% render_field form.assignedToUser class="form-control border-primary selectpicker" data-show-subtext="true" data-live-search="true" %}
                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.estimatedLabor.label}}</label>
                                                  {{form.estimatedLabor| add_class:"form-control border-primary" }}
                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.completedByUser.label}}</label>
                                                    {% render_field form.completedByUser class="form-control border-primary selectpicker" data-show-subtext="true" data-live-search="true" %}
                                                </div>
                                                <div class="form-group">
                                                  <label>{{form.actualLabor.label}}</label>
                                                  {{form.actualLabor| add_class:"form-control border-primary" }}
                                                </div>
                                                <div class="row">
                                                  <div class="col-lg-12">
                                                    <div class="form-group">
                                                      <label>{{form.dateCompleted.label}}</label>

                                                      <div class="input-group date">
                                                                            {{form.dateCompleted| add_class:"form-control border-primary" }}
                                                                            <span class="input-group-addon">
                                                                                <i class="fa fa-calendar">
                                                                                </i>
                                                                            </span>
                                                                        </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-lg-12">
                                                    <div class="form-group">
                                                      <label>{{form.timeCompleted.label}}</label>
                                                      {{form.timeCompleted| add_class:"form-control border-primary" }}
                                                    </div>

                                                  </div>

                                                </div>
                                              </div>

                                            </div>
                                          </div>
                                          <div id="v-pills-settings" class="tab-pane fade ">
                                            <div class='row'>
                                              <div class='col-lg-12'>

                                                <div class="card  card-info">

                                                  <div class=" card-body">
                                                    <div class="row">
                                                      <div class="col-lg-12">


                                                      </div>

                                                    </div>
                                                    <div class="row">
                                                      <div class="col-lg-6">
                                                        <div class="form-group">
                                                          <label>{{form.rootCause.label}}</label>
                                                          {{form.rootCause| add_class:"form-control border-primary" }}
                                                        </div>
                                                        <div class="form-group">
                                                          <label>{{form.solution.label}}</label>
                                                          {{form.solution| add_class:"form-control border-primary" }}
                                                        </div>
                                                        <div class="form-group">
                                                          <label>{{form.isEM.label}}</label>
                                                          {{form.isEM| add_class:" border-primary" }}
                                                        </div>

                                                      </div>
                                                      <div class="col-lg-6">
                                                        <div class="form-group">
                                                          <label>{{form.woStopCode.label}}</label>
                                                          {% render_field form.woStopCode class="form-control border-primary selectpicker" data-show-subtext="true" data-live-search="true" %}
                                                        </div>
                                                        <div class="form-group">
                                                          <label>{{form.woCauseCode.label}}</label>
                                                          {% render_field form.woCauseCode class="form-control border-primary selectpicker" data-show-subtext="true" data-live-search="true" %}
                                                        </div>
                                                        <div class="form-group">
                                                          <label>{{form.woActionCode.label}}</label>
                                                          {% render_field form.woActionCode class="form-control border-primary selectpicker" data-show-subtext="true" data-live-search="true" %}

                                                        </div>

                                                      </div>

                                                    </div>
                                                    <div class="row">
                                                      <div class="col-lg-12">
                                                        <div class="form-group">
                                                          <label>{{form.completionNotes.label}}</label>
                                                          {{form.completionNotes| add_class:"form-control border-primary" }}
                                                        </div>

                                                      </div>

                                                    </div>
                                                  </div>

                                                </div>


                                              </div>
                                            </div>
                                          </div>
                                          <div id="v-pills-tasks" class="tab-pane fade ">


                                                 {% include 'cmms/tasks/taskList.html' %}


                                          </div>
                                          <div id="v-pills-parts" class="tab-pane fade ">


                                                   {% include 'cmms/workorder_parts/woPartList.html' %}


                                          </div>
                                          <div id="v-pills-meters" class="tab-pane fade ">


                                            {% include 'cmms/wo_meter/woMeterList.html' %}



                                          </div>
                                          <div id="v-pills-miscs" class="tab-pane fade ">


                                                        {% include 'cmms/workorder_misccoast/woMiscList.html' %}


                                          </div>
                                          <div id="v-pills-notifs" class="tab-pane fade ">


                                                       {% include 'cmms/workorder_notification/woNotifyList.html' %}


                                          </div>
                                          <div id="v-pills-perts" class="tab-pane fade ">


                                                       {% include 'cmms/wo_pert/woPertList.html' %}


                                          </div>
                                          <div id="v-pills-files" class="tab-pane fade ">


                                                   {% include 'cmms/workorder_file/woFileList.html' %}


                                          </div>
                                          <div id="v-pills-logs" class="tab-pane fade ">


                                                     {% include 'cmms/workorder_log/woLogList.html' %}


                                          </div>


                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
</div>
