<div method="post" action="{% url 'wo_create' %}" class="js-wo-create-form" id='js-wo-create-form' autocomplete="off">
  {% csrf_token %}
    {% load static %}
  {% load widget_tweaks %}
  <div class="modal-header">
        <h5 class="modal-title" id="modal-companyLabel">Form Wizard</h5>
        <button type="button" class="close woclose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Step 1 Content -->
      {% include 'cmms/maintenance/partialWoFormWizard.html' %}
      </div>
</div>
<style media="screen">
  #modal-company {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-company .modal-dialog {
  max-width: 800px;
}

#modal-company .modal-content {
  padding: 20px;
}

#modal-company .modal-body {
  position: relative;
}

#modal-company .modal-body > div {
  display: none;
}

#modal-company .modal-body > div:first-child {
  display: block;
}

#modal-company h2 {
  margin-top: 0;
}

#modal-company p {
  margin-bottom: 1em;
}
</style>
<script type="text/javascript">
  var getDate=function(){
    var today = new Date();
    var t=today.getHours() + ":" + today.getMinutes() + ":00";
    $("#id_timecreated").val(t);
    return t;

  }
  getDate();
  $('.next-step').on('click', function() {

    $('#step1').hide();
    $('#step2').show('slow');
  });
  $('.next-step1').on('click', function() {

    $('#step2').hide();
    $('#step3').show('slow');
  });
  $('.next-step2').on('click', function() {

    $('#step3').hide();
    $('#step2').show('slow');
  });
  $('.prev-step').on('click', function() {

    $('#step1').show();
    $('#step2').hide();
  });
  $('.prev-step1').on('click', function() {

    $('#step2').show();
    $('#step3').hide();
  });
  $('.i-checks').iCheck({
                  checkboxClass: 'icheckbox_square-green',
                  radioClass: 'iradio_square-green',
              });
              $('.clockpicker').clockpicker();

</script>
