\{% load widget_tweaks %}
<div class="modal fade" id="modal-woAsset" style="overflow-y: scroll">
 <div class="modal-dialog ">

   <div class="modal-content ">
   </div>
 </div>
</div>
<div class="row">
  <div class="col-sm-3 b-r">
    {% load static %}
    <img src="{% static 'img/images2.png' %}" / >
    <input type=hidden name='lastWorkOrderid' id='lastWorkOrderid' value='{{lId}}'/>
    <input type=hidden name='issavechanged' id='issavechanged' value='-1'/>

    <input type=hidden name='haveschedule' id='haveschedule' value='-1'/>
    <input type=hidden name='havetasks' id='havetasks' value='-1'/>
    {{ form.visibile.as_hidden }}
    {{ form.isUpdating.as_hidden }}


  </div>
  <div class="col-sm-4 b-r">

    <div class="form-group">
      <label>{{form.woStatus.label}}</label>
      {{form.woStatus| add_class:"form-control" }}


    </div>
    <div class="form-group">
      <label>{{form.maintenanceType.label}}</label>
      {{form.maintenanceType| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.woPriority.label}}</label>
      {{form.woPriority| add_class:"form-control" }}
    </div>
  </div>
  <div class="col-sm-5 b-r">
    <div class="form-group">


                <a class="btn btn-white btn-bitbucket pull-left" id="woassetrefresh">
										<i class="fa fa-refresh">
										</i>
									</a>

      <label>{{form.woAsset.label}}</label>
      {{ form.woAsset.as_hidden }}

      {% render_field form.woasset_ class="form-control advanced2AutoComplete4" %}
    </div>
    <div class="form-group">
      <label>{{form.Project.label}}</label>
      {% render_field form.Project class="form-control selectpicker" data-show-subtext="true" data-live-search="true"  %}
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="form-group">
          <label>{{form.requiredCompletionDate.label}}</label>

          <div class="input-group date">
                                                {{form.requiredCompletionDate| add_class:"form-control" }}
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar">
                                                    </i>
                                                </span>
                                            </div>
        </div>

      </div>
      <div class="col-lg-5">
        <label>{{form.requiredCompletionTime.label}}</label>



                                              {{form.requiredCompletionTime| add_class:"form-control" }}


      </div>

      </div>

    </div>


  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">عمومی</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">اطلاعات تکمیلی</a></li>
        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">کارها</a></li>
        <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">قطعات</a></li>
        <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">قرائت</a></li>
        <li class=""><a data-toggle="tab" href="#tab-10" aria-expanded="false">پرت زمان</a></li>
        <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false">هزینه های متفرقه</a></li>
        <li class=""><a data-toggle="tab" href="#tab-7" aria-expanded="false">اعلانات</a></li>
        <li class=""><a data-toggle="tab" href="#tab-8" aria-expanded="false">پیوست ها</a></li>
          {% if perms.cmms.view_logentry %}
        <li class=""><a data-toggle="tab" href="#tab-9" aria-expanded="false">فعالیت ها</a></li>
        {% endif %}

      </ul>
      <div class="tab-content ">
        <div id="tab-1" class="tab-pane active">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>{{form.summaryofIssue.label}}</label>


                  {% render_field form.summaryofIssue class="form-control basicAutoComplete" autocomplete="off" data-url='/WorkOrder/GetProblems' %}
                </div>

              </div >
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>{{form.woProblemCode.label}}</label>


                  {% render_field form.woProblemCode class="form-control   selectpicker" data-show-subtext="true" data-live-search="true"   %}
                </div>
                <div class="form-group">
                  <label>{{form.workInstructions.label}}</label>
                  {{form.workInstructions| add_class:"form-control" }}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>{{form.datecreated.label}}</label>

                      <div class="input-group date">
                                            {{form.datecreated| add_class:"form-control" }}
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>{{form.timecreated.label}}</label>
                      {% render_field form.timecreated class="form-control ltr-input"  data-mask="99:99:99"  %}
                    </div>

                  </div>

                </div>

                <div class="form-group">
                  <label>{{form.assignedToUser.label}}</label>

                  {% render_field form.assignedToUser class="form-control selectpicker" data-show-subtext="true" data-live-search="true" %}
                </div>
                <div class="form-group">
                  <label>{{form.estimatedLabor.label}}</label>
                  {{form.estimatedLabor| add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label>{{form.completedByUser.label}}</label>
                    {% render_field form.completedByUser class="form-control selectpicker" data-show-subtext="true" data-live-search="true" %}
                </div>
                <div class="form-group">
                  <label>{{form.actualLabor.label}}</label>
                  {{form.actualLabor| add_class:"form-control" }}
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>{{form.dateCompleted.label}}</label>

                      <div class="input-group date">
                                            {{form.dateCompleted| add_class:"form-control" }}
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>{{form.timeCompleted.label}}</label>
                      {{form.timeCompleted| add_class:"form-control" }}
                    </div>

                  </div>

                </div>
              </div>

            </div>





          </div>
        </div>

        <div id="tab-2" class="tab-pane">
          <div class="panel-body">
            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> پیگیری هزینه
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{form.account.label}}</label>
                          {{form.account| add_class:"form-control" }}
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{form.chargeDepartment.label}}</label>
                          {{form.chargeDepartment| add_class:"form-control" }}
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>اطلاعات تکمیلی
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label>{{form.completionNotes.label}}</label>
                          {{form.completionNotes| add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                          <label>{{form.problemBrief.label}}</label>
                          {{form.problemBrief| add_class:"form-control" }}
                        </div>

                      </div>

                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{form.rootCause.label}}</label>
                          {{form.rootCause| add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                          <label>{{form.solution.label}}</label>
                          {{form.solution| add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                          <label>{{form.isEM.label}}</label>
                          {{form.isEM| add_class:"form-control" }}
                        </div>

                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{form.woStopCode.label}}</label>
                          {% render_field form.woStopCode class="form-control selectpicker" data-show-subtext="true" data-live-search="true" %}
                        </div>
                        <div class="form-group">
                          <label>{{form.woCauseCode.label}}</label>
                          {% render_field form.woCauseCode class="form-control selectpicker" data-show-subtext="true" data-live-search="true" %}
                        </div>
                        <div class="form-group">
                          <label>{{form.woActionCode.label}}</label>
                          {% render_field form.woActionCode class="form-control selectpicker" data-show-subtext="true" data-live-search="true" %}

                        </div>

                      </div>

                    </div>
                  </div>

                </div>

                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>یادداشت مدیر
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label>{{form.adminNote.label}}</label>
                          {{form.adminNote| add_class:"form-control" }}
                        </div>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
        <div id="tab-3" class="tab-pane">
          <div class="panel-body">

            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> فعالیت ها
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">

                        {% include 'cmms/tasks/taskList.html' %}

                      </div>

                    </div>
                  </div>


                </div>
              </div>



            </div>
          </div>
        </div>
        <div id="tab-4" class="tab-pane">
          <div class="panel-body">

            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> قطعات
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">

                        {% include 'cmms/workorder_parts/woPartList.html' %}

                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>


          </div>
        </div>
        <div id="tab-5" class="tab-pane">
          <div class="panel-body">

            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> قرائت
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">

                        {% include 'cmms/wo_meter/woMeterList.html' %}

                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>


          </div>
        </div>
        <div id="tab-6" class="tab-pane">
          <div class="panel-body">

            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">

                        {% include 'cmms/workorder_misccoast/woMiscList.html' %}

                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>


          </div>
        </div>
        <div id="tab-7" class="tab-pane">
          <div class="panel-body">

            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>اعلانات
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">

                        {% include 'cmms/workorder_notification/woNotifyList.html' %}

                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>


          </div>
        </div>
        <div id="tab-8" class="tab-pane">
          <div class="panel-body">

            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> فایل های ضمیمه
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">

                        {% include 'cmms/workorder_file/woFileList.html' %}

                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>


          </div>
        </div>
        <div id="tab-9" class="tab-pane">
          <div class="panel-body">

            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i> پیوست ها
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">

                        {% include 'cmms/workorder_log/woLogList.html' %}

                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>


          </div>
        </div>
        <div id="tab-10" class="tab-pane">
          <div class="panel-body">

            <div class='row'>
              <div class='col-lg-12'>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <i class="fa fa-info-circle"></i>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">

                        {% include 'cmms/wo_pert/woPertList.html' %}

                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>


          </div>
        </div>







      </div>
    </div>



  </div>
  </div>
<script type="text/javascript">
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  var target = $(e.target).attr("href") // activated tab
  if(target==="#tab-1"){
    $.ajax({
      url: '/WorkOrder/'+$("#lastWorkOrderid").val()+'/WorkHour/',
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        //alert(btn.attr("data-url"));



      },
      success: function (data) {
        console.log(data);
        $("#id_actualLabor").val(data.work_hour_result);
      }
    });
  }

});
$(document).ready(function(){
  $.ajax({
    url: '/WorkOrder/'+$("#lastWorkOrderid").val()+'/WorkHour/',
    type: 'get',
    dataType: 'json',
    beforeSend: function () {
      //alert(btn.attr("data-url"));



    },
    success: function (data) {
      console.log(data);
      $("#id_actualLabor").val(data.work_hour_result);
    }
  });
});

</script>
