<form method="post" action="{% url 'wo_create' %}" class="js-wo-create-form" autocomplete="off">
  {% csrf_token %}
  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close woclose" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/maintenance/partialWoForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default woclose" data-dismiss="modal">انصراف</button>
    {% if perms.cmms.change_workorder %}
    <button type="submit" class="btn btn-primary" >ذخیره</button>
    <button type="button" class="btn btn-success woapply" >اعمال</button>
    {% endif %}
  </div>
</form>
