{% for ring_amar in tolidAmar %}

<tr data-id={{ring_amar.id}}>
<td contenteditable="true"> {{ forloop.counter }}</td>
<td  class='dt' data-date={{ring_amar.registered_date|date:"Y/m/d"}}>{{ring_amar.get_jalali}}</td>
<td data-assetname={{ring_amar.location.id}} class="assetname">{{ring_amar.location.assetName}}</td>

<td contenteditable="true" class="editable-cell stk selectable1">{{ring_amar.mogheiat}}</td>
<td contenteditable="true" class="editable-cell endk selectable1">{{ring_amar.location}}</td>
<td contenteditable="true" class="editable-cell totalk selectable1">{{ring_amar.keyfiat}}</td>
<td contenteditable="true" class="editable-cell stt selectable1">{{ring_amar.vaziat}}</td>
<td contenteditable="true" class="editable-cell endt selectable1">{{ring_amar.tedad}}</td>
<td contenteditable="true" class="editable-cell totalt selectable1">{{ring_amar.meghdar}}</td>











</tr>
{% empty %}
<tr>
<td contenteditable="true"> #</td>
<td  class='dt' data-date={{date|date:"Y/m/d"}}>{{dt}}</td>
<td data-assetname={{makan_id}} class="assetname">{{makan}}</td>

<td contenteditable="true" class="editable-cell stk selectable1"></td>
<td contenteditable="true" class="editable-cell endk selectable1"></td>
<td contenteditable="true" class="editable-cell totalk selectable1"></td>
<td contenteditable="true" class="editable-cell stt selectable1"></td>
<td contenteditable="true" class="editable-cell endt selectable1"></td>
<td contenteditable="true" class="editable-cell totalt selectable1"></td>











</tr>


{% endfor %}
