<!--pip install django-widget-tweaks-->
{% extends 'cmms/mainTheme.html' %}

 {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>فرم خطی</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">گزینه 1</a>
                                    </li>
                                    <li><a href="#">گزینه 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <select class="form-control" name="assetMakan" id="id_makan">
                                  {% for i in makan %}
                                    <option value="{{i.id}}">{{i.assetName}}</option>
                                  {% endfor %}
                              </select>
                            </div>
                          </div>

                            <div class="col-sm-6">
                              <div class="form-group">
                                <select class="form-control" name="assetName2" id="id_assetName2">

                                </select>
                              </div>
                            </div>

                        </div>


                        </div>
                    </div>

  </div>

</div>
<div class="row">
<div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>آمار روزانه رینگ </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>

                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped" id="company-table">
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th>نام دستگاه</th>
                                      <th>کیلومتر پایان شیفت قبل</th>
                                      <th>کیلومتر پایان شیفت جاری</th>
                                      <th>ساعت پایان شیفت  قبل</th>
                                      <th>ساعت پایان شیفت جاری</th>
                                      <th>درصد</th>
                                      <th>داف</th>
                                      <th>نام اپراتور</th>
                                      <th>کیلومتر تولید</th>
                                      <th>ساعت تولید</th>
                                      <th>تاریخ</th>
                                      <th>شیفت</th>

                                        <th></th>

                                    </tr>

                                    </thead>
                                    <tbody id='tbody_company'>
                                            {% include 'cmms/ringamar/partialRingAmarList.html' %}
                                    </tbody>
                                </table>
                                
                                <div class="woPaging" >
                                  {% if ringAmar.has_other_pages %}
                                  <ul class="pagination">
                                  {% if ringAmar.has_previous %}
                                  <li><a href="?page={{ ringAmar.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                  <li class="disabled"><span>&laquo;</span></li>
                                  {% endif %}

                                  <li ><span>{{ ringAmar.number }} از {{ ringAmar.paginator.num_pages }} <span class="sr-only">(current)</span></span></li>

                                  {% if ringAmar.has_next %}
                                  <li><a href="?page={{ ringAmar.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                  <li class="disabled"><span>&raquo;</span></li>
                                  {% endif %}
                                  </ul>
                                  {% endif %}

                                </div>
                                <!-- BUTTON TO TRIGGER THE ACTION -->
                                {% if perms.cmms.add_ringamar %}
                                <p>
                                  <button type="button" class="btn btn-primary js-create-ringAmar"
                                  data-url="{% url 'ringAmar_create' %}" id="create_btn_id"  data-asset=""                                >
                                    <span class="glyphicon glyphicon-plus"



                                    ></span>
                                  جدید
                                  </button>
                                </p>
                                {% endif %}
                            </div>

                          </div>

                    </div>
                </div>
                <div class="modal fade" id="modal-company">
                 <div class="modal-dialog  modal-lg ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>




</div>


{% load static %}

{% block javascript %}

  <script src="{% static '/js/project/ringamar.js' %}"></script>
    <script src="{% static '/js/project/reports/form/PartUsageByLocationandPart2.js' %}"></script>
{% endblock %}
{% endblock %}
