<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>قطعات تشکیل دهنده </h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive" style="position: relative;height: 200px;overflow: auto;display:block">
                                <table class="table table-striped" id="assetPart-table" >
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th>نام قطعه</th>


                                      <th>تعداد</th>
                                      <th>توضیح</th>

                                        <th></th>

                                    </tr>

                                    </thead>
                                    <tbody id='tbody_assetPart'>
                                            {% include 'cmms/asset_parts/partialAssetPartList.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->
                                <p>
                                  <button type="button" class="btn btn-primary js-create-assetPart"
                                  data-url="{% url 'assetPart_create' %}"                                  >
                                    <span class="glyphicon glyphicon-plus"



                                    ></span>
                                  جدید
                                  </button>
                                </p>
                            </div>
                          </div>

                    </div>
                </div>
                <div class="modal fade" id="modal-assetPart" data-backdrop="static" data-keyboard="false">
                 <div class="modal-dialog ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>

</div>


{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/assetPart.js' %}"></script>
{% endblock %}
