
{% for c in assetParts %}

<tr>
 <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
<td>{{c.assetPartPid}}</td>
 <td>{{c.assetPartQnty}}</td>
 <td>{{c.assetPartDescription|default_if_none:"مشخص نشده"}}</td>







 <td><button type="button"
              class="btn btn-warning btn-sm js-update-assetPart"
              data-url="{% url 'assetPart_update' c.id %}">
        <span class="glyphicon glyphicon-pencil"></span> ویرایش
      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-assetPart"
                   data-url="{% url 'assetPart_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="5" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
{% for c in bomlist %}

<tr>
 <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
<td>{{c.BOMGroupPartPart}}</td>
 <td>{{c.BOMGroupPartQnty}}</td>
 <td></td>







 <td>
    </td>
</tr>



{% endfor %}
{% load static %}

{% block javascript %}
<script type="text/javascript">
$(".js-create-assetPart").unbind();

</script>
  <script src="{% static '/js/project/assetPart.js' %}"></script>
{% endblock %}
