{% load widget_tweaks %}
<div class="row">

  <div class="form-group">
    <label>{{form.Name.label}}</label>
  {{form.Name| add_class:"form-control" }}
   </div>

        <div class="form-group">
          <label>{{form.DarsadeMakhlut1.label}}</label>
        {{form.DarsadeMakhlut1| add_class:"form-control" }}
         </div>
         <div class="form-group">
           <label>{{form.Vazn.label}}</label>
         {{form.Vazn| add_class:"form-control" }}
          </div>
         <div class="form-group">
           <label>{{form.AlyafId1.label}}</label>
         {{form.AlyafId1| add_class:"form-control" }}
          </div>
          <div class="form-group">
            <label>{{form.OrderId.label}}</label>
          {{form.OrderId| add_class:"form-control" }}
           </div>






</div>
