{% load widget_tweaks %}
<div class="row">
  <div class="col-sm-4 b-r">
    <div class="form-group">
      <label>{{form.YelloRTL.label}}</label>
      {{form.YelloRTL| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.RedBGL.label}}</label>
      {{form.RedBGL| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.SlueRGL.label}}</label>
      {{form.SlueRGL| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.REd2G.label}}</label>
      {{form.REd2G| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.RedViolet3RN.label}}</label>
      {{form.RedViolet3RN| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.BlackO.label}}</label>
      {{form.BlackO| add_class:"form-control" }}
    </div>
  </div>
  <div class="col-sm-4 b-r">



    <div class="form-group">
      <label>{{form.NavyRB.label}}</label>
      {{form.NavyRB| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.AsidAsetic.label}}</label>
      {{form.AsidAsetic| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.Ritarder.label}}</label>
      {{form.Ritarder| add_class:"form-control" }}
    </div>

    <div class="form-group">
      <label>{{form.NarmKon.label}}</label>
      {{form.NarmKon| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.Dispress.label}}</label>
      {{form.Dispress| add_class:"form-control" }}
    </div>




  </div>
  <div class="col-sm-4 b-r">
    <div class="form-group">
      <label>{{form.SudeParak.label}}</label>
      {{form.SudeParak| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.hidrosulfitsodiom.label}}</label>
      {{form.hidrosulfitsodiom|add_class:"form-control"}}
    </div>
    <div class="form-group">
      <label>{{form.zedekaf.label}}</label>
      <!-- <input type="text" name="TarikheEtmam" id='id_TarikheEtmam' class="form-control ltr-input" data-mask="9999/99/99" placeholder="">-->
      {{form.zedekaf|add_class:"form-control"}}
    </div>
    <div class="form-group">
      <label>{{form.Hour.label}}</label>
      {{form.Hour| add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label>{{form.orderid.label}}</label>
      {{form.orderid|add_class:"form-control"}}
    </div>

  </div>

</div>
