<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>تجهیزات </h5>

                        </div>
                        <div class="ibox-content">
                          <input type="hidden" name="lastassetasset" id="id_lastassetasset" value="">

                            <div class="table-responsive" style="position: relative;height: 200px;overflow: auto;display:block">
                                <table class="table table-striped tblassetasset" id="assetAsset-table">
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th>نام دارایی</th>



                                        <th></th>

                                    </tr>

                                    </thead>
                                    <tbody id='tbody_assetAsset'>
                                    {% include 'cmms/asset_asset/partialAssetAssetList.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->
                                <p>
                                  <button type="button" class="btn btn-primary js-create-assetAsset"
                                  data-url="{% url 'assetAsset_craete'  %}"                                  >
                                    <span class="glyphicon glyphicon-plus">

                                    </span>
                                  جدید
                                  </button>
                                </p>
                            </div>
                          </div>

                    </div>
                </div>
                <div class="modal fade" id="modal-assetAsset" data-backdrop="static" data-keyboard="false">
                 <div class="modal-dialog ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>

</div>


{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/assetAsset.js' %}"></script>
{% endblock %}
