<div  data-url="{% url 'assetAsset_update' form.instance.id %}" class="js-assetAsset-update-form">

  <div class="modal-header">
    <button type="button" class="close cl-part"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ویرایش</h4>
  </div>
  <div class="modal-body">
    {% include 'cmms/asset_asset/partialAssetAssetForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="cl-part btn btn-default" >بستن</button>
    <button type="button" class="btn btn-primary" id="assetAsset-submit">ویرایش</button>


    <script>
     myformat = function() {
     var s = arguments[0];
     for (var i = 0; i < arguments.length - 1; i++) {
       var reg = new RegExp("\\{" + i + "\\}", "gm");
       s = s.replace(reg, arguments[i + 1]);
     }

     return s;
    }
       $( document).ready(
         function()
         {
           $(".cl-part").click(function()
           {
             $("#modal-assetAsset").modal("hide");
             //$("#{modal-company}").css("background-color", "yellow");


           });


     $("#assetAsset-submit").click(function(){

                //alert("12321");
                 var form = $(this).parent().parent();
                 //console.log(form.attr("action"));
                 //alert($("#id_metrics").val());
                 $.ajax({
                   url: form.attr("data-url"),
                   type: "POST",
                   data:myformat('{"AssetAssetAssetId":{0}\
                   ,"AssetAssetEventId":{1}\
                   ,"AssetAssetAdditionalDescription":"{2}"}',
                   $("#lastAssetid").val(),
                   $("#id_AssetAssetEventId").val(),
                   $("#id_AssetAssetAdditionalDescription").val()),




                   dataType: 'json',
                   beforeSend: function () {
                     //alert(btn.attr("data-url"));
                    // console.log(myformat('{"assetAssetPart":{0},"assetAssetPlannedQnty":{1},"assetAssetActulaQnty":{2},"assetAssetWorkorder":{3}}',$("#id_assetAssetPart").val(),$("#id_assetAssetPlannedQnty").val(),$("#id_assetAssetActulaQnty").val(),$("#id_assetAssetWorkorder").val()));

                   },
                   success: function (data) {
                     if (data.form_is_valid) {
                       //alert("Company created!");  // <-- This is just a placeholder for now for testing
                       $("#tbody_assetAsset").empty();
                       $("#tbody_assetAsset").html(data.html_assetAsset_list);
                       $("#modal-assetAsset").modal("hide");
                       //console.log(data.html_wo_list);
                     }
                     else {

                       $("#assetAsset-table tbody").html(data.html_assetAsset_list);
                       $("#modal-assetAsset .modal-content").html(data.html_assetAsset_form);
                     }
                   }

                 });
                 return false;



            });
         }


       );

       </script>

  </div>
</div>
