<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> </h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped" id="assetLife-table">
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th>وضعیت</th>
                                     <th>تاریخ از کار افتادگی</th>
                                      <th>کاربر</th>





                                     <th>ساعت کاری</th>

                                        <th></th>

                                    </tr>

                                    </thead>
                                    <tbody id='tbody_assetLife'>
                                            {% include 'cmms/asset_life/partialAssetLifeList.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->
                                <p>
                                  <button type="button" class="btn btn-primary js-create-assetLife"
                                  data-url="{% url 'assetLife_create' lId %}"                                  >
                                    <span class="glyphicon glyphicon-plus"



                                    ></span>
                                  جدید
                                  </button>
                                </p>
                            </div>
                          </div>

                    </div>
                </div>
                <div class="modal fade" id="modal-assetLife">
                 <div class="modal-dialog ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>

</div>


{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/assetlife.js' %}"></script>
{% endblock %}
