<div  data-url="{% url 'assetLife_create' %}" class="js-assetLife-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close close-assetLife"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/asset_life/partialAssetLifeForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="close-assetLife btn btn-default" >انصراف</button>
    <button type="button" class="btn btn-primary" id="assetLife-submit"  >ذخیره</button>
 <script>
   $(".close-assetLife").click(function()
   {
     $("#modal-assetLife").modal("hide");
     $("#id_assetStatus").trigger('click');





   }
   );

  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
getStringVal=function(element){
  try{
  if(element.val().length===0)
  {
    switch(element.attr("id"))
    {


      case "id_assetOnlineAdditionalInfo":

       return "بدون توضیح";
      break;
      default:
      return " ";
      break;
    }
}
  else{
    // switch(element.attr("id"))
    // {
    //   case "id_assetOfflineFrom":
    //        return $("#id_assetOfflineFrom").attr("value");
    //        break;
    //   case "id_assetOnlineFrom":
    //             return $("#id_assetOnlineFrom").attr("value");
    //             break;
    //   default:
    //   return element.val();
    //   break;
    //
    // }
    return element.val();


  }
}
catch
{
  console.log(element.attr("id"));
}
}
$("#modal-assetLife").on("focusin","#id_assetOnlineProducteHourAffected",function(){
  // alert("123");
  console.log(1);
  var startDate = new Date($("#id_assetOfflineFrom").attr('value')); // Replace with your start date field value
var endDate = new Date($("#id_assetOnlineFrom").attr('value')); // Replace with your end date field value
var startTime = $("#id_assetOfflineFromTime").val(); // Replace with your start time field value
var endTime = $("#id_assetOnlineFromTime").val(); // Replace with your end time field value

// Combine the date and time strings and convert them to Date objects
var startDateTime = new Date(startDate.toDateString() + ' ' + startTime);
var endDateTime = new Date(endDate.toDateString() + ' ' + endTime);

// Calculate the time difference in milliseconds
var timeDiff = endDateTime - startDateTime;

// Convert the time difference to hours and minutes
var hours = Math.floor(timeDiff / (1000 * 60 * 60));
var minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));

// Format the result as "hour:minute"
var result = hours ;//+ ':' + (minutes < 10 ? '0' + minutes : minutes);
$("#id_assetOnlineProducteHourAffected").val(result);
});
getVal=function(element){
  // console.log(element);
  if(element){
    // console.log(element);
  if(element.val().length===0)
  {
     switch(element.attr("id"))
     {

       case "id_assetSetOnlineByUser":
       case "id_assetOnlineStatus":
       case "id_assetOnlineProducteHourAffected":
        //console.log(element.attr("id"));
        return -1;
       break;

       default:
       return 0;
       break;
     }
   }
  else{
    return element.val();
  }
}
return '-1'
}
var initAssetEventLoad=function(){

  $.ajax({

    url: '/AssetEvent/'+$("#id_assetLifeAssetid").val()+'/listAssetEvent',



    success: function (data) {
        //alert($("#lastWorkOrderid").val());
      if (data.form_is_valid) {
        //alert("response");
        //alert(data.html_assetEvent_list);  // <-- This is just a placeholder for now for testing
        $("#tbody_assetEvent").empty();
        $("#tbody_assetEvent").html(data.html_assetEvent_list);
        $("#modal-assetEvent").modal("hide");
        //console.log(data.html_wo_list);
      }
      else {

        $("#assetEvent-table tbody").html(data.html_assetEvent_list);
        $("#modal-assetEvent .modal-content").html(data.html_assetEvent_form);
      }
    }
  });
return false;
};

    $( document).ready(
      function()
      {

        $("#assetLife-submit").click(function(){
          var mydata="";





                     mydata=myformat('{"assetStatus":0\
                       ,"assetLifeAssetid":{0}\
                     ,"assetOfflineFrom":"{1}"\
                     ,"assetSetOfflineByUser":{2}\
                     ,"assetOfflineStatus":{3}\
                   ,"assetWOAssoc":{4}\
                 ,"assetOfflineAdditionalInfo":"{5}"\
               ,"assetEventType":{6}\
             ,"assetEventDescription":"{7}"\
           ,"assetOnlineFrom":"{8}"\
         ,"assetSetOnlineByUser":{9}\
         ,"assetOnlineStatus":{10}\
         ,"assetOnlineAdditionalInfo":"{11}"\
       ,"assetOnlineProducteHourAffected":{12},"assetOfflineFromTime":"{13}","assetOnlineFromTime":"{14}","assetCheckEvent":{15},"assetStopCode":{16},"assetCauseCode":{17}}',
                     $("#id_assetLifeAssetid").val(),
                     getStringVal($("#id_assetOfflineFrom")),
                     getVal($("#id_assetSetOfflineByUser")),
                     1,
                     (getVal($("#id_assetWOAssoc")).length>0)?getVal($("#id_assetWOAssoc")).length>0:null,
                     getStringVal( $("#id_assetOfflineAdditionalInfo")),
                     (getVal($("#id_assetEventType"))=="")?null:$("#id_assetEventType").val(),
                     getStringVal($("#id_assetEventDescription")),

                     getStringVal($("#id_assetOnlineFrom")),
                     getVal($("#id_assetSetOnlineByUser")),
                     getVal($("#id_assetOnlineStatus")),

                     getStringVal($("#id_assetOnlineAdditionalInfo")),
                     getVal($("#id_assetOnlineProducteHourAffected")),
                     getStringVal($("#id_assetOfflineFromTime")),
                     getStringVal($("#id_assetOnlineFromTime")),
                     $("#id_assetCheckEvent").is(":checked"),
                     ($("#id_assetStopCode").val().length>0)?$("#id_assetStopCode").val():'null',
                     getVal($("#id_assetCauseCode")),


                   );




                   // console.log(mydata);
                    var form = $(this).parent().parent();

                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:mydata,
                      dataType: 'json',
                      beforeSend: function(xhr,opt) {
                        // console.log(mydata);
                        if($("#id_assetStopCode").val().length<1)
                        {
                          toastr.error("کد توقف را مشخص نمایید");
                          xhr.abort();
                        }
                        if($("#id_assetCauseCode").val().length<1)
                        {
                          toastr.error("کد علت را مشخص کنید");
                          xhr.abort();
                        }
                        if($("#id_assetSetOfflineByUser").val().length<1)
                        {
                          toastr.error("کاربر را مشخص کنید!");
                          xhr.abort();
                        }

                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_assetLife").empty();

                          $("#tbody_assetLife").html(data.html_assetLife_list);
                          $("#modal-assetLife").modal("hide");
                          // $("#id_assetStatus").trigger('click');

                          initAssetEventLoad();
                          if (typeof firstPressedButton !== 'undefined' && firstPressedButton !== null) {

    // console.log(firstPressedButton);
  // alert("!23");
}

                          //console.log(data.html_assetLife_list);
                          // var mybtn = localStorage.getItem('myData');
                          // console.log(mybtn);
                          firstPressedButton.removeClass('btn-outline');;
                          firstPressedButton.removeClass('btn-info');;
                          firstPressedButton.addClass('btn-warning');;
                        }
                        else {
                          toastr.error("خطا");

                          // $("#assetLife-table tbody").html(data.html_assetLife_list);
                          // $("#modal-assetLife .modal-content").html(data.html_assetLife_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
