<div  data-url="{% url 'userGroup_create' %}" class="js-userGroup-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close"  aria-label="Close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/settingpages/usergroup/partialUserGroupForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" >انصراف</button>
    <button type="button" class="btn btn-primary" id="userGroup-submit"  >ذخیره</button>
 <script>
  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {

        $("#userGroup-submit").click(function(){

                   //alert("12321");
                   //$( "#myselect option:selected" ).text();
                   var mydata="";
                   mydata=myformat('{"userGroupCode":"{0}"\
                   ,"userGroupName":"{1}"\
                   ,"userGroupIsPartOF":{2}\
                   ,"userUserLocation":{3}\
                    ,"userGroupZarib":{4}\
                    ,"userGroupZaribTamir":{5}\
                    ,"userGroupZaribService":{6}\
                    ,"userGroupZaribProject":{7}}',
                   $("#id_userGroupCode").val(),$("#id_userGroupName").val(),
                    ($("#id_userGroupIsPartOF").val().length>0)?("#id_userGroupIsPartOF").val():'null',
                     ($("#id_userUserLocation").val().length>0)?$("#id_userUserLocation").val():'null',
                      ($("#id_userGroupZarib").val().length>0)?$("#id_userGroupZarib").val():'0',
                      ($("#id_userGroupZaribTamir").val().length>0)?$("#id_userGroupZaribTamir").val():'0',
                      ($("#id_userGroupZaribService").val().length>0)?$("#id_userGroupZaribService").val():'0',
                      ($("#id_userGroupZaribProject").val().length>0)?$("#id_userGroupZaribProject").val():'0');

                    var form = $(this).parent().parent();


                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:mydata,
                      dataType: 'json',
                      beforeSend: function () {
                        //alert(btn.attr("data-url"));


                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_userGroup").empty();

                          $("#tbody_userGroup").html(data.html_userGroup_list);
                          $("#modal-userGroup").modal("hide");

                        }
                        else {

                          $("#userGroup-table tbody").html(data.html_userGroup_list);
                          $("#modal-userGroup .modal-content").html(data.html_userGroup_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
