<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>گرو ههای کاری</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive" >
                                <table class="table table-striped" id="userGroup-table" >
                                    <thead>
                                    <tr>
                                      <th>کد</th>
                                      <th>نام</th>
                                      <th>زیر مجموعه</th>
                                      <th>قسمت</th>

                                        <th></th>

                                    </tr>

                                    </thead>
                                    <tbody id='tbody_userGroup'>
                                            {% include 'cmms/settingpages/usergroup/partialUserGrouplist.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->
                                <p>
                                  <button type="button" class="btn btn-primary js-create-userGroup"
                                  data-url="{% url 'userGroup_create' %}"                                  >
                                    <span class="glyphicon glyphicon-plus"



                                    ></span>
                                  جدید
                                  </button>
                                </p>
                            </div>
                          </div>

                    </div>
                    <div class="modal fade" id="modal-userGroup">
                     <div class="modal-dialog">

                       <div class="modal-content ">
                       </div>
                     </div>
                    </div>
                </div>


</div>


{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/settingpages/usergroup.js' %}"></script>
{% endblock %}
