<div  data-url="{% url 'meterCode_update' form.instance.id %}" class="js-meterCode-update-form">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ویرایش</h4>
  </div>
  <div class="modal-body">
    {% include 'cmms/settingpages/meter_code/partialMeterCodeForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
    <button type="button" class="btn btn-primary" id="meterCode-submit">ویرایش</button>


    <script>
     myformat = function() {
     var s = arguments[0];
     for (var i = 0; i < arguments.length - 1; i++) {
       var reg = new RegExp("\\{" + i + "\\}", "gm");
       s = s.replace(reg, arguments[i + 1]);
     }

     return s;
   }
       $( document).ready(
         function()
         {

           $("#meterCode-submit").click(function(){

                      //alert("12321");
                      //$( "#myselect option:selected" ).text();
                      var mydata="";
                      mydata=myformat('{"meterCode":"{0}"\
                      ,"meterDescription":"{1}","meterAbbr":"{2}"}',
                      $("#id_meterCode").val(),
                      $("#id_meterDescription").val(),
                      $("#id_meterAbbr").val()

                    );

                       var form = $(this).parent().parent();

                       //alert($("#id_metrics").val());

                       $.ajax({
                         url: form.attr("data-url"),
                         type: "POST",
                         data:mydata,
                         dataType: 'json',
                         beforeSend: function (x,y) {
                           if($("#id_meterAbbr").val()=='')
                           {
                             toastr.error("رعایت اختصار الزامی است");
                             x.abort();
                           }
                           //alert(btn.attr("data-url"));


                         },
                         success: function (data) {
                           if (data.form_is_valid) {
                             //alert("Company created!");  // <-- This is just a placeholder for now for testing
                             $("#tbody_meterCode").empty();

                             $("#tbody_meterCode").html(data.html_meterCode_list);
                             $("#modal-meterCode").modal("hide");

                           }
                           else {

                             $("#meterCode-table tbody").html(data.html_meterCode_list);
                             $("#modal-meterCode .modal-content").html(data.html_meterCode_form);
                           }
                         }

                       });
                       return false;



                  });
         }


       );

       </script>

  </div>
</div>
