
{% for c in woActions %}

<tr>

<td>{{c.actionCode}}</td>
<td>{{c.actionDescription}}</td>







 <td><button type="button"
              class="btn btn-warning btn-sm js-update-woAction"
              data-url="{% url 'woAction_update' c.id %}">

      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-woAction"
                   data-url="{% url 'woAction_delete' c.id %}">

           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="3" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>
{% endfor %}
