
{% for c in meterCodes %}

<tr>

<td>{{c.meterCode}}</td>
<td>{{c.meterDescription}}</td>







 <td><button type="button"
              class="btn btn-warning btn-sm js-update-meterCode"
              data-url="{% url 'meterCode_update' c.id %}">

      </button>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-meterCode"
                   data-url="{% url 'meterCode_delete' c.id %}">

           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="3" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>
{% endfor %}
