<div  data-url="{% url 'woPart_create' %}" class="js-woPart-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close cl-woPart"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/workorder_parts/partialWoPartForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="cl-woPart btn btn-default" >انصراف</button>
    {% if perms.cmms.add_workorderpart %}
    <button type="button" class="btn btn-primary" id="woPart-submit"  >ذخیره</button>
    {% endif %}
 <script>
   $(".cl-woPart").click(function()
   {
     $("#modal-woPart").modal("hide");

   }
  );
  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {
        var changewoStatus=function(woid,status){
          $.ajax({
                url: `/WorkOrder/${woid}/SetStatus/${status}`,
                type: 'GET',
                
                beforeSend:function(){
                 
                },
                success: function(response) {
                  // Handle the success response from the server
                  if(response.error)
                  {
                    toastr.error(response.error);
                  }
                  else{
                    $("#id_woStatus").val(9);
                    console.log('Data sent successfully:', response);
                   

                  }
                  
                },
                error: function(xhr, status, error) {
                  // Handle any errors that occur during the AJAX request
                  console.error('Error sending data:', error);
                  toastr.error(error);
                  
                }
              });
        }

        $("#woPart-submit").click(function(){

                   //alert("12321");
                    var form = $(this).parent().parent();
                    //console.log(form.attr("action"));
                    //alert($("#id_metrics").val());
                    // console.log(form.attr('class'));
                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      // data:myformat('{"woPartPart":{0},"woPartPlannedQnty":{1},"woPartActulaQnty":{2},"woPartWorkorder":{3},"woPartStock":{4}}',$("#id_woPartPart").val(),$("#id_woPartPlannedQnty").val(),$("#id_woPartActulaQnty").val(),$("#lastWorkOrderid").val(),$("#id_woPartStock").val()),
                      data:myformat('{"woPartPlannedQnty":{0},"woPartActulaQnty":{1},"woPartWorkorder":{2},"woPartStock":{3}}',$("#id_woPartPlannedQnty").val(),$("#id_woPartActulaQnty").val(),$("#lastWorkOrderid").val(),$("#id_woPartStock").val()),




                      dataType: 'json',
                      beforeSend: function () {
                        console.log(myformat('{"woPartPlannedQnty":{0},"woPartActulaQnty":{1},"woPartWorkorder":{2},"woPartStock":{3}}',$("#id_woPartPlannedQnty").val(),$("#id_woPartActulaQnty").val(),$("#lastWorkOrderid").val(),$("#id_woPartStock").val()));
                        //alert(btn.attr("data-url"));
                       // console.log(myformat('{"woPartPart":{0},"woPartPlannedQnty":{1},"woPartActulaQnty":{2},"woPartWorkorder":{3}}',$("#id_woPartPart").val(),$("#id_woPartPlannedQnty").val(),$("#id_woPartActulaQnty").val(),$("#lastWorkOrderid").val()));

                      },
                      success: function (data) {
                        if (data.form_is_valid) {

                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_woPart").empty();
                          // message handling
                          if(data.html_woPart_list_success)
                          {
                            toastr.success(data.html_woPart_list_success)
                          }
                          else if(data.html_woPart_list_error){
                            toastr.error(data.html_woPart_list_error);
                            // $("#id_woStatus").val(data.html_woPart_wo_status);
                          }
                          else {

                          }




                          $("#tbody_woPart").html(data.html_woPart_list);
                          $("#modal-woPart").modal("hide");
                          swal({
                            title:"تغییر وضعیت",
                            text: "آیا مایل به تغییر وضعیت دستور کار هستید؟",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "بلی",
                            cancelButtonText: "خیر",
                            closeOnConfirm: true
                          }, function () {
                            changewoStatus($("#lastWorkOrderid").val(),9);

                          });
                          // console.log(data.html_woPart_list);
                        }
                        else {

                          $("#woPart-table tbody").html(data.html_woPart_list);
                          $("#modal-woPart .modal-content").html(data.html_woPart_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
