
{% for c in assetParts %}

<tr>
<td>{{c.assetPartPid}}</td>
 <td>{{c.assetPartQnty}}</td>
 <td>{{c.assetPartDescription|default_if_none:"مشخص نشده"}}</td>

<td>

          <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1 js-select-assetPart" data-page="{{page}}"   data-url="/WoPart/CreateByWo/{{wo}}/{{c.assetPartPid.id}}" ><i class="fa fa-pencil"></i></a>


   </td>






</tr>
{% empty %}
<tr>
 <td colspan="5" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
{% for c in bomlist %}

<tr>
  <td></td>
<td>{{c.BOMGroupPartPart}}</td>
 <td>{{c.BOMGroupPartQnty}}</td>







 <td>


        
               <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1 js-select-assetPart" "
               data-url="" ><i class="fa fa-pencil"></i></a>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="5" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
{% load static %}

{% block javascript %}
<script type="text/javascript">
$(".js-create-assetPart").unbind();

</script>
  <script src="{% static '/js/project/assetPart.js' %}"></script>
{% endblock %}
