<div  data-url="{% url 'woPart_delete' woPart.id %}" class="js-woPart-delete-form">

  <div class="modal-header">
    <button type="button" class="close"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">حذف</h4>
  </div>
  <div class="modal-body">
    <p class="lead">از عمل حذف مطمین هستید؟  <strong>{{ woPart.id }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger"> حذف</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
  </div>
</div>
