
{% for c in result1 %}

<tr>
 <td><a href="/WorkOrder/{{c.woPartWorkorder__id}}/details" target="_blank">{{c.woPartWorkorder__id}}</a></td>
  <td>{{c.woPartWorkorder__woAsset__assetName}}</td>


  <td>
    {{c.woPartWorkorder__woAsset__assetCategory__name|default_if_none:"ندارد"}}
  </td>
  <td>
    {{c.woPartWorkorder__woAsset__assetIsLocatedAt__assetName|default_if_none:"خودش"}}
  </td>

  <td>
    {{c.assetModel|default_if_none:"ندارد"}}
  </td>
  <td>
    {{c.assetSerialNumber|default_if_none:"ندارد"}}
  </td>
  <td>
    {{c.woPartPlannedQnty|default_if_none:"ندارد"}}
  </td>
  <td>
    {{c.woPartStock__stockItem__partName|default_if_none:"ندارد"}}
  </td>
  <td>
    {% if perms.cmms.can_fulfill %}
   <button type="button"
              class="btn btn-warning btn-sm js-confirm-wopart"
              data-url="{% url 'confirm_woPart_fulFilled' c.id %}?q={{q}}">
        <span class="glyphicon glyphicon-pencil"></span> تامین
      </button>
    {% endif %}

  </td>

</tr>
{% empty %}
<tr>
  <td colspan="9" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>


{% endfor %}
