{% load widget_tweaks %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <i class="fa fa-info-circle"></i>  قطعه مصرفی
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>{{form.BMGGroup.label}}</label>

              <input type=text id='id_bomtemplatejq' class="form-control" readonly/>
              <script type="text/javascript">
              $("#id_bomtemplatejq").val($("#id_BatchMeterGroupName").val());
              </script>
            </div>
            <div class="form-group">
              <label>{{form.BMGTemplate.label}}</label>


              {% render_field form.mypart class='form-control advanced2AutoComplete' autocomplete='off'  %}
              {{form.BMGTemplate.as_hidden}}
            </div>
      




          </div>
        </div>

      </div>







    </div>
  </div>
</div>
