{% for c in taskGroup %}

<tr>
<td></td>
<td>{{c.taskGroupName}}</td>
 <td>{{c.getTaskNum}}</td>







 <td>
{% if perms.cmms.view_taskgroup %}
   <button type="button"
              class="btn btn-warning btn-sm js-update-taskGroup"
              data-url="{% url 'taskGroup_update' c.id %}">
        <span class="glyphicon glyphicon-pencil"></span> مشاهده    </button>
   {% endif %}
   {% if perms.cmms.delete_taskgroup %}
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-taskGroup"
                   data-url="{% url 'taskGroup_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
   {% endif %}
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="4" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
<script type="text/javascript">
  $(".taskGroupUtility").on('click',function(){
    return $.ajax({
      url: '/TaskGroup/'+$(this).attr('date-url')+'/'+$("#lastWorkOrderid").val()+'/register/',
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        //alert(btn.attr("data-url"));
        //alert("321321");
        // /$("#modal-taskGroup").modal("hide");
        $("#modal-taskGroup").modal({backdrop: 'static', keyboard: false});
      },
      success: function (data) {
        //alert("3123@!");

         // $("#modal-task .modal-content").html(data.html_taskgroup_list);
         $("#tbody_task").empty();
         $("#tbody_task").html(data.html_taskgroup_list);
         // $('#modal-task').modal('hide');
         $("#modal-taskGroup").modal("hide");


      },
      error:function(){
        console.log("error");
      }
    });
    // $("#modal-taskGroup").modal("hide");
  });

</script>
