<div  data-url="{% url 'stock_create' %}" class="js-stock-create-form" >

  <div class="modal-header" style="background:#ccc">
    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/stock/partialStockForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"  data-dismiss="modal">انصراف</button>
    <button type="button" class="btn btn-primary" id="stock-submit"  >ذخیره</button>
 <script>
  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {

        $("#stock-submit").click(function(){

                   //alert("12321");
                    var form = $(this).parent().parent();
                    //console.log(form.attr("action"));
                    //alert($("#id_metrics").val());

                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:myformat('{"stockItem":{0},\
                      "location":{1},\
                      "qtyOnHand":{2},\
                      "minQty":{3},\
                      "aisle":{4},\
                      "row":{5},\
                      "bin":{6}}',
                      $("#id_stockItem").val(),
                      $("#id_location").val(),

                      $("#id_qtyOnHand").val(),
                      $("#id_minQty").val(),
                      ($("#id_aisle").val().length>0)?$("#id_aisle").val():"0",
                      ($("#id_row").val().length>0)?$("#id_row").val():"0",
                      ($("#id_bin").val().length>0)?$("#id_bin").val():"0"



                    ),




                      dataType: 'json',
                      beforeSend:function(xhr,opt)
                      {
                          if(!$(this)[0].url.includes('delete'))
                          {
                            if($("#id_stockItem").val().length<1)
                            {
                              toastr.error("قطعه را مشخص کنید!");
                              xhr.abort();
                            }
                            if($("#id_location").val().length<1)
                            {
                              toastr.error("انبار را مشخص کنید");
                              xhr.abort();
                            }
                            if($("#id_qtyOnHand").val().length<1)
                            {
                              toastr.error("موجودی را مشخص کنید!");
                              xhr.abort();
                            }
                            if($("#id_minQty").val().length<1)
                            {
                              toastr.error("حداقل موجودی را معین کنید!");
                              xhr.abort();
                            }
                            if($("#id_aisle").val().length<1)
                            {
                              toastr.error("راهرو مشخص نشده است!");
                              xhr.abort();
                            }
                            if($("#id_row").val().length<1)
                            {
                              toastr.error("ردیف مشخص نشده است!");
                              xhr.abort();
                            }
                            if($("#id_bin").val().length<1)
                            {
                              toastr.error("قفسه مشخص نشده است!");
                              xhr.abort();
                            }

                          }
                       //
                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_stock").empty();

                          $("#tbody_stock").html(data.html_stock_list);
                          $("#modal-stock").modal("hide");
                          console.log(data.html_stock_list);
                        }
                        else {

                          $("#stock-table tbody").html(data.html_stock_list);
                          $("#modal-stock .modal-content").html(data.html_stock_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
