<div class="col-sm-4" style="display:none;">
                         <div class="ibox ">
                             <div class="ibox-content">
                                 <div class="tab-content">
                                     <div id="contact-1" class="tab-pane active">

                                         <div class="widget style1 yellow-bg">
                                                     <div class="row">
                                                         <div class="col-xs-4">
                                                             <i class="fa fa-barcode fa-5x"></i>
                                                         </div>
                                                         <div class="col-xs-8 text-right">
                                                             <span> مشخصات قطعه </span>
                                                             <h2 class="font-bold part_name_s" >12</h2>
                                                         </div>
                                                     </div>
                                                 </div>
                                         <div class="client-detail">
                                             <div class="full-height-scroll">
                                                 <strong>
                                                 آخرین فعالیت</strong>

                                                 <hr/>
                                                 <strong>
                                                 فعالیت ها</strong>
                                                 <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">اطلاعات خرید</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">اطلاعات مصرف</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <strong>اطلاعات خرید </strong>
                    <div id="vertical_timeline1" class="vertical-container dark-timeline">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-coffee">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                2:10 ب.ظ - 12.06.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-briefcase">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                4:20 ب.ظ - 10.05.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-bolt">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                06:10 ب.ظ - 11.03.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-warning">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                02:50 ب.ظ - 03.10.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-coffee">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم
                                </p>
                                <span class="vertical-date small text-muted">
                                2:10 ب.ظ - 12.06.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-briefcase">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                4:20 ب.ظ - 10.05.2014 </span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <strong>اطلاعات مصرف</strong>
                    <div id="vertical_timeline2" class="vertical-container dark-timeline">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-coffee">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                2:10 ب.ظ - 12.06.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-briefcase">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                4:20 ب.ظ - 10.05.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-bolt">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                06:10 ب.ظ - 11.03.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-warning">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                02:50 ب.ظ - 03.10.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-coffee">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم
                                </p>
                                <span class="vertical-date small text-muted">
                                2:10 ب.ظ - 12.06.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-briefcase">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <span class="vertical-date small text-muted">
                                4:20 ب.ظ - 10.05.2014 </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-briefcase">
                                </i>
                            </div>
                            <div class="vertical-timeline-content">
                              <div class="text-center">
                                <button type="button" class="btn btn-info block full-width woloadmore">بیشتر</button>

                              </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>

                                             </div>
                                         </div>
                                     </div>

                                 </div>
                             </div>
                         </div>
                     </div>
