
{% for c in stocks %}

<tr date-url={{c.id}} data-partmodel={{c.stockItem.partModel}} data-partMake={{c.stockItem.partMake}} >
 <td ><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
 <td class="col-md-2">{{c.stockItem}}</td>
<td class="col-md-2">{{c.location}}</td>

 <td>{{c.qtyOnHand}}</td>
 <td>{{c.minQty}}</td>







 <td><button type="button"
              class="btn btn-outline btn-warning btn-sm js-update-stock"
              data-url="{% url 'stock_update' c.id %}">
        <span class="glyphicon glyphicon-pencil"></span> ویرایش
      </button>
      <button type="button"
                   class="btn btn-outline btn-danger btn-sm js-delete-stock"
                   data-url="{% url 'stock_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="10" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
