<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>دارایی ها </h5>


                        </div>
                        <div class="ibox-content">
                          <p>
                            <button type="button" class="btn btn-primary js-create-bomGroupAsset"
                            data-url="{% url 'bomGroupAsset_create' %}"                                  >
                              <span class="glyphicon glyphicon-plus"



                              ></span>
                            جدید
                            </button>
                          </p>

                            <div class="table-responsive" style="max-height: 400px; overflow-y: scroll;">
                                <table class="table table-striped" id="bomGroupAsset-table">
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th>نام دارایی</th>



                                        <th></th>

                                    </tr>

                                    </thead>
                                    <tbody id='tbody_bomGroupAsset'>
                                            {% include 'cmms/bomgroup_assets/partialBOMGroupAssetList.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->

                            </div>
                          </div>

                    </div>
                </div>
                <div class="modal fade" id="modal-bomGroupAsset" data-backdrop="static" data-keyboard="false">
                 <div class="modal-dialog modal-lg">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>

</div>


{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/bomGroupAsset.js' %}"></script>
{% endblock %}
