<div  data-url="{% url 'bomGroupAsset_create' %}" class="js-bomGroupAsset-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close cl-part"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/bomgroup_assets/partialBOMGroupAssetForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="cl-part btn btn-default " >انصراف</button>
    <button type="button" class="btn btn-primary" id="bomGroupAsset-submit"  >ذخیره</button>
 <script>

  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {
        $(".cl-part").click(function()
        {
          $("#modal-bomGroupAsset").modal("hide");
          //$("#{modal-company}").css("background-color", "yellow");


        }
       );

        $("#bomGroupAsset-submit").click(function(){

                   //alert("12321");
                    var form = $(this).parent().parent();
                    //console.log(form.attr("action"));
                    //alert($("#id_metrics").val());
                    // console.log(form.attr('class'));
                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:myformat('{"BOMGroupAssetAsset":{0},"BOMGroupAssetBOMGroup":{1}}',$("#id_BOMGroupAssetAsset").val(), $("#lastBOMGroupid").val()),




                      dataType: 'json',
                      beforeSend: function (x,y) {
                        if($("#id_BOMGroupAssetAsset").val()=="")
                        {
                          toastr.error("نام قطعه را مشخص کنید");
                          x.abort();
                          return;
                        }
                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_bomGroupAsset").empty();

                          $("#tbody_bomGroupAsset").html(data.html_bomGroupAsset_list);
                          $("#modal-bomGroupAsset").modal("hide");
                          // console.log(data.html_bomGroupAsset_list);
                        }
                        else {
                          toastr.error('ورودیها را کنترل نمایید!');

                          $("#bomGroupAsset-table tbody").html(data.html_bomGroupAsset_list);
                          $("#modal-bomGroupAsset .modal-content").html(data.html_bomGroupAsset_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
