
{% for c in bomGroupAssets %}

<tr>
 <td><input type="checkbox" name="actoin" value=""></td>
<td>{{c.BOMGroupAssetAsset}}</td>








 <td><button type="button"
              class="btn btn-warning btn-outline btn-sm js-update-bomGroupAsset"
              data-url="{% url 'bomGroupAsset_update' c.id %}">
        <span class="glyphicon glyphicon-pencil"></span> ویرایش
      </button>
      <button type="button"
                   class="btn btn-danger btn-outline btn-sm js-delete-bomGroupAsset"
                   data-url="{% url 'bomGroupAsset_delete' c.id %}">
             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="4" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
