{% load static %}
{% for c in woFiles %}

<tr>
 <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
<td><a href="{% get_media_prefix %}{{c.woFile}}"> {{c.woFile}}</a></td>
 <td>{{c.get_ext}}</td>

 <td>{{c.get_size}}</td>








 <td>
      <button type="button"
                   class="btn btn-danger btn-sm js-delete-woFile"

             <span class="glyphicon glyphicon-trash"></span> حذف
           </button>
    </td>
</tr>
{% empty %}
<tr>
 <td colspan="9" class="text-center bg-warning">هیچ موردی یافت نشد</td>
</tr>

{% endfor %}
{% load static %}

{% block javascript %}
<script type="text/javascript">
  $(".js-upload-woFiles1").unbind();

</script>

  <script src="{% static '/js/project/woFile.js' %}"></script>
{% endblock %}
