<div  data-url="{% url 'kpiException_update' form.instance.id %}" class="js-kpiException-update-form">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ویرایش</h4>
  </div>
  <div class="modal-body">
    {% include 'cmms/settingpages/kpi_exception/partialKpiExceptionForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
    <button type="button" class="btn btn-primary" id="kpiException-submit">ویرایش</button>


    <script>
     myformat = function() {
     var s = arguments[0];
     for (var i = 0; i < arguments.length - 1; i++) {
       var reg = new RegExp("\\{" + i + "\\}", "gm");
       s = s.replace(reg, arguments[i + 1]);
     }

     return s;
   }
       $( document).ready(
         function()
         {

           $("#kpiException-submit").click(function(){

                      //alert("12321");
                      //$( "#myselect option:selected" ).text();
                      var mydata="";

                      mydata=myformat('{"stopcode":"{0}"}',
                      $("#id_stopcode").val(),

                    );

                      var form = $(this).parent().parent();
                       //console.log(form.attr("action"));
                       //alert($("#id_metrics").val());

                       $.ajax({
                         url: form.attr("data-url"),
                         type: "POST",
                         data:mydata,
                         dataType: 'json',
                         beforeSend: function () {
                           //alert(btn.attr("data-url"));
                      //     console.log($("#id_businessPartisDefault").is(':checked'));
                      console.log(mydata);

                         },
                         success: function (data) {
                           if (data.form_is_valid) {
                             //alert("Company created!");  // <-- This is just a placeholder for now for testing
                             $("#tbody_kpiException").empty();

                             $("#tbody_kpiException").html(data.html_kpiException_list);
                             $("#modal-kpiException").modal("hide");

                           }
                           else {

                             $("#kpiException-table tbody").html(data.html_kpiException_list);
                             $("#modal-kpiException .modal-content").html(data.html_kpiException_form);
                           }
                         }

                       });
                       return false;



                  });
         }


       );

       </script>

  </div>
</div>
