{% for i in assetwos %}
<tr><td><span  class="form-control"> {{i}} <span/></td><td>

       {% if perms.cmms.view_assets %}
     <button type="button"
                  class="btn btn-danger btn-sm js-delete-assetAsset"
                  {% if i.assetIsLocatedAt  %}
                  data-url="{% url 'assetAsset_delete' i.assetIsLocatedAt i.id %}">
                  {% elif i.isPartOf %}

                  data-url="{% url 'assetAsset_delete' i.isPartOf i.id %}">

                  {% endif %}

            <span class="glyphicon glyphicon-trash"></span> حذف
          </button>
      {% endif %}
   </td>
</tr>
{% endfor %}
