<!--pip install django-widget-tweaks-->

<div class="row">
  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>کمیت </h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive" style="position: relative;height: 200px;overflow: auto;display:block">
                                <table class="table table-striped" id="assetAMT-table">
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th>شرح</th>
                                      <th>کمیت</th>




                                    </tr>

                                    </thead>
                                    <tbody id='tbody_assetAMT'>
                                            {% include 'cmms/asset_amt/partialAssetAMTList.html' %}
                                    </tbody>
                                </table>
                                <!-- BUTTON TO TRIGGER THE ACTION -->

                            </div>
                          </div>

                    </div>
                </div>
                <div class="modal fade" id="modal-assetAMT" data-backdrop="static" data-keyboard="false" style="top:28%">
                 <div class="modal-dialog ">

                   <div class="modal-content ">
                   </div>
                 </div>
                </div>

</div>
