<div  data-url="{% url 'assetAMT_update' form.instance.id %}" class="js-assetAMT-update-form">

  <div class="modal-header">
    <button type="button" class="close cl-part"  aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ویرایش</h4>
  </div>
  <div class="modal-body">
    {% include 'cmms/asset_meter_template/partialAssetMeterTemplateForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="cl-part btn btn-default" >بستن</button>
    <button type="button" class="btn btn-primary" id="assetAMT-submit">ویرایش</button>


    <script>
     myformat = function() {
     var s = arguments[0];
     for (var i = 0; i < arguments.length - 1; i++) {
       var reg = new RegExp("\\{" + i + "\\}", "gm");
       s = s.replace(reg, arguments[i + 1]);
     }

     return s;
    }
       $( document).ready(
         function()
         {
           $(".cl-part").click(function()
           {
             $("#modal-assetAMT").modal("hide");
             //$("#{modal-company}").css("background-color", "yellow");


           });


     $("#assetAMT-submit").click(function(){

                //alert("12321");
                 var form = $(this).parent().parent();
                 //console.log(form.attr("action"));
                 //alert($("#id_metrics").val());
                 $.ajax({
                   url: form.attr("data-url"),
                   type: "POST",
                   data:myformat('{"assetAMTAsset":{0}\
                   ,"assetAMTMeter":{1}\
                   ,"assetAMTDesc":"{2}"}',
                   $("#lastAssetid").val(),
                   $("#id_assetAMTMeter").val(),
                   $("#id_assetAMTDesc").val()),




                   dataType: 'json',
                   beforeSend: function () {
                     //alert(btn.attr("data-url"));
                    // console.log(myformat('{"assetAMTPart":{0},"assetAMTPlannedQnty":{1},"assetAMTActulaQnty":{2},"assetAMTWorkorder":{3}}',$("#id_assetAMTPart").val(),$("#id_assetAMTPlannedQnty").val(),$("#id_assetAMTActulaQnty").val(),$("#id_assetAMTWorkorder").val()));

                   },
                   success: function (data) {
                     if (data.form_is_valid) {
                       //alert("Company created!");  // <-- This is just a placeholder for now for testing
                       $("#tbody_assetAMT").empty();
                       $("#tbody_assetAMT").html(data.html_assetAMT_list);
                       $("#modal-assetAMT").modal("hide");
                       //console.log(data.html_wo_list);
                     }
                     else {

                       $("#assetAMT-table tbody").html(data.html_assetAMT_list);
                       $("#modal-assetAMT .modal-content").html(data.html_assetAMT_form);
                     }
                   }

                 });
                 return false;



            });
         }


       );

       </script>

  </div>
</div>
