<div  data-url="{% url 'woAction_create' %}" class="js-woAction-create-form" >

  <div class="modal-header " style="background:#ccc">
    <button type="button" class="close"  aria-label="Close"  data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">جدید</h4>
  </div>
  <div class="modal-body">
   {% include 'cmms/settingpages/wo_action_code/partialWoActionForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"  data-dismiss="modal">انصراف</button>
    <button type="button" class="btn btn-primary" id="woAction-submit"  >ذخیره</button>
 <script>
  myformat = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {
    var reg = new RegExp("\\{" + i + "\\}", "gm");
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}
    $( document).ready(
      function()
      {

        $("#woAction-submit").click(function(){

                   //alert("12321");
                   //$( "#myselect option:selected" ).text();
                   var mydata="";
                   mydata=myformat('{"actionCode":"{0}"\
                   ,"actionDescription":"{1}","actionIsActive":true}',
                   $("#id_actionCode").val(),
                   $("#id_actionDescription").val(),

                 );

                    var form = $(this).parent().parent();


                    $.ajax({
                      url: form.attr("data-url"),
                      type: "POST",
                      data:mydata,
                      dataType: 'json',
                      beforeSend: function () {
                        //alert(btn.attr("data-url"));


                      },
                      success: function (data) {
                        if (data.form_is_valid) {
                          //alert("Company created!");  // <-- This is just a placeholder for now for testing
                          $("#tbody_woAction").empty();

                          $("#tbody_woAction").html(data.html_woAction_list);
                          $("#modal-woAction").modal("hide");

                        }
                        else {

                          $("#woAction-table tbody").html(data.html_woAction_list);
                          $("#modal-woAction .modal-content").html(data.html_woAction_form);
                        }
                      }

                    });
                    return false;



               });
      }


    );

    </script>

  </div>
</div>
